@media only screen and (min-width: 768px) {
  @import "portrait/login";
  @import "portrait/home";
  @import "portrait/cadastro-empresa";
}

@media only screen and (min-width: 922px) {
  @import "landscape/modal";
}

@media only screen and (min-width: 1280px) {
  @import "portrait/rodape";
}