section#home {

  & .content {
    & .titulo-novo {
      font-size: 32px;
      font-weight: bold;
      color: #ffff00;
      background-color: #000000;
    }
  } 
}
.modal-backdrop{
  z-index: 4;
}

