section#painel-gerador, section#painel-transportador, section#painel-destino-final, section#painel-fiscal {
	
& .conteudo {
    min-height: 900px;
    background-color: #ebebeb;
    z-index: 222;
  }

}