//html, body {
//  height: 100%;
//}

body {
  background-image: url("../images/fundo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  color: black;
  left: 0;
  overflow: auto;
  right: 0;
  top: 0;
  text-rendering: optimizeLegibility;
  .RobotoCondensed() !important;
  .scrollbar;

  & h1 {
    margin: 0;
  }
}

.hidden-element {
  visibility: hidden;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-15 {
  margin-top: 15px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-n4 {
  margin-bottom: -4px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-bottom-30 {
  margin-bottom: 30px;
}

.margin-bottom-40 {
  margin-bottom: 40px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.margin-bottom-60 {
  margin-bottom: 60px;
}

.margin-bottom-70 {
  margin-bottom: 70px;
}

.margin-bottom-80 {
  margin-bottom: 80px;
}

.margin-bottom-90 {
  margin-bottom: 90px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-left-14 {
  margin-left: 14px !important;
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-40 {
  margin-left: 40px;
}

.margin-left-50 {
  margin-left: 50px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.fundo-painel {
  background-color: @projeto-background;
  background-image: none;
}

// Função para aplicar o efeito transition hover darken
.transitionHover (@color: #000, @percentage: 7%) {
  transition: all 0.3s linear;

  &:hover {
    background-color: darken(@color, @percentage);
  }
}

.activeDrop (@color: #000, @percentage: 7%) {
  background-color: darken(@color, @percentage);
}

// Função que retira o efeito de borda azul do focus nos elementos
.retiraFocusDefault() {

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.tablesorter {

  & th {

    .retiraFocusDefault();

  }

  & th.tablesorter-headerUnSorted {
    background-image: url("../images/black-unsorted.gif");
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 90px center;
  }

  & th.tablesorter-headerAsc {
    background-image: url("../images/black-asc.gif");
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 90px center;
  }

  & th.tablesorter-headerDesc {
    background-image: url("../images/black-desc.gif");
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: 90px center;
  }

}

#pager {
  margin: 0 0 50px;
  float: right;

  & li {

    a {
      padding: 0 6px;
      border: none;
      color: @menu-lateral-cadastro-background;
    }

    & .pager-nav {
      background: @pagination-active-background;
      color: #fff;
      padding: 0 19px;
      text-transform: uppercase;
      border-radius: 4px;
    }

  }

  & li.active {

    & span {
      padding: 0 6px;
      background-color: @pagination-active-background;
      border: none;
      border-radius: 4px;
      color: #FFF;
    }
  }
}

.table {

  & > thead {

    & > tr {

      & > th {
        outline: none;
      }
    }
  }
}

.dataTables_wrapper {

  & .dataTables_info {
    float: left;
  }

  & .dataTables_paginate {
    display: flex;
    justify-content: flex-end;

    & .paginate_button {
      border-radius: 4px;
    }

    & .first,
    & .last,
    & .previous,
    & .next {
      background: @pagination-active-background;
      color: #fff;
      text-transform: uppercase;
      .retiraFocusDefault();

      &.disabled {
        background-color: @pagination-disabled-color;
        cursor: no-drop;
        opacity: 0.4;
      }
    }

    & .first,
    & .last {

      &.disabled {
        display: none;
      }
    }

    & span {
      display: flex;
    }

    & a {
      padding: 3px 8px;
      border: none;
      color: @menu-lateral-cadastro-background;
      text-decoration: none;
      cursor: pointer;
      margin: 0 2px;
      .retiraFocusDefault();
      display: flex;
      align-items: center;

      &.current {
        background-color: @pagination-active-background;
        color: #FFF;
        cursor: default;
      }
    }
  }
}

.flex {
  display: flex;
}
