// Cores utilizadas no projeto
@projeto-background: #5d5d5d;
@corModuloFiscal: #FFA52A;
@corModuloGerador: #009053;
@corModuloTransportador: #c93e3e;
@corModuloDestinoFinal: #056793;

// Cadastro Empresa
@menu-lateral-cadastro-background: @projeto-background;
@conteudo-cadastro-background: #f2f2f2;
@titulo-cadastro-background: #FFA52A;
@subtitulo-cadastro-color: #008f52;
@select-drop-border: @titulo-cadastro-background;
@select-drop-background: @titulo-cadastro-background;

//Login
@border-input-color: #b1d6b5;
@btn-login-background: #53b35a;
@link-forgot-pass-color: #939393;
@cadastro-background: #005c11;

// Painel itens em comum
@inativo-color: #e17145;
@registro-tabela-color: #898989;
@btn-validado-color: #3fb815;
@pagination-active-background: @titulo-cadastro-background;
@btn-equipamento-background: @titulo-cadastro-background;
@indicadores-periodo-background: #e6e5e3;
@indicadores-periodo-total: #7D7D7D;
@indicadores-periodo-links: #5d5d5d;
@excluir-registro: #82281a;
@nome-residuos-color: #999;
@chat-menu-bg: transparent;

//Painel Gerador
@menu-lateral-gerador: @corModuloGerador;
@conteudo-gerador-background: #ebebeb;
@titulo-gerador-background: @menu-lateral-gerador;
@indicador-gerador-background: #00a295;
@status-finalizado: #3EB816;
@status-aberto: #FFC619;
@status-expirado: #FF4B33;
@status-neutro: #b2b2b2;
@status-gg: @titulo-gerador-background;
@status-tr: @titulo-tr-background;
@status-df: @titulo-df-background;

//Painel Transportador
@menu-lateral-tr: @corModuloTransportador;
@conteudo-tr-background: #e6e5e3;
@titulo-tr-background: @menu-lateral-tr;
@indicador-tr-background: #00a295;

//Painel Destino Final
@menu-lateral-df: @corModuloDestinoFinal;
@conteudo-df-background: #e6e5e3;
@titulo-df-background: @menu-lateral-df;
@indicador-df-background: #00a295;

//Painel Transportador
@menu-lateral-fs: #FFA52A;
@conteudo-fs-background: #e6e5e3;
@titulo-fs-background: @menu-lateral-fs;
@indicador-fs-background: #00a295;

//Painel Fiscal
@rastreabilidade-tempo-background: #ffa629;
@rastreabilidade-tempo-background: #ffa629;
@rastreabilidade-tempo-texto: #783333;
@rast-status-nome-color: #333333;
@rast-status-id-color: #808080;
@rast-status-validacao-background: #b2b2b2;
@rast-status-validado-background: #3eb816;
@rast-status-pendente-background: #ffc619;
@rast-status-aguardando-background: #b2b2b2;
@cad-gg-tr-background-hover: #cccccc;
@indicadores-fs-totais: #5e5e5e;
@diviser-emitido-background: #6d87a8;
@diviser-em-aberto-background: #edb50a;
@diviser-finalizado-background: #36ab0f;
@diviser-expirado-background: #ff4b34;
@titulo-box-indicador-gg: #1c8d1b; //Grande gerador
@titulo-box-indicador-pg: #00947e; //Pequeno gerador
@titulo-box-indicador-tr: #ca3e3f; //Transportador
@titulo-box-indicador-df: #056794; //Destino final
@titulo-box-indicador-cr: #1fbdbe; //Cooperativas
@titulo-box-indicador-tb: #3c99c4;
@titulo-box-indicador-vl: #ce5800;
@titulo-box-indicador-eq: #be4f82;
@titulo-box-indicador-ec: #a9ca3f;
@finalizado-background: #a6d694;
@expirado-background: #dba6a6;
@icon-search-active-bg: #5d5d5d;


