// Personalizar barra de rolagem
.scrollbar(@colorTrack:#ff8a00) {

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track-piece,
  &::-webkit-scrollbar-track {
    background-color: @colorTrack;
    border: 0;
    box-shadow: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: darken(@colorTrack, 6%);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-resizer {
    /* 7 */
  }
}