section#cadastro-empresa {

	& #modalCadastroFilial {

	  & .modal-dialog {
	    width: 900px;
	  }
	}

	& .dataTables_wrapper {

	  & .dataTables_info {
	    float: left;
	    margin: 0;
	  }
	}

  & .conteudo,
  & .conteudo-transportador,
  & .conteudo-sucesso,
  & .conteudo-gerador-condominio {
  	& .cadastroHeader {
	      & span {
	        margin-top: 14px !important;
	      }
	  	}
    }

  	& .information {
	    background-color: #FFA52A !important;
	    color: #ffffff !important;
	    font-weight: bold;
	    width: 30px;
	    height: 30px;
	    text-align: center;
	    border-radius: 50px !important;
	    outline: none;
	    line-height: 20px;
	    &:hover,
	     focus {
	    	text-decoration: none;
	    }
		& .information__text {
		    position: absolute;
		    background-color: #FFFFFF;
		    width: 350px;
		    z-index: 100;
		    color: #999999;
		    font-weight: 100;
		    font-size: 13px;
		    text-align: left;
		    padding: 6px;
		    border-radius: 5px;
		    left: 50px;
		    top: -11px;
		    border: solid 1px #eee;
		    display: none;
		}	    
		&:hover > .information__text {
	    	display: block;
	    }
	} 

}

.conteudo {
		min-height: 900px;
		background: #ebebeb;
    z-index: 99;
		position: relative;
		overflow: hidden;
	}


