section#login {
  & .cadastro-aqui {
    height: 71px;

    & p {
      font-size: 25px;

      & a {
        display: inline; 
      }
    }
  }
  & .d-flex {
  	display: flex;
  }
  & .flex-row {
  	flex-direction: row;
  }
  & .justify-content-around {
  	justify-content: space-around;
  }
  & .login-cidade__infos {
  	& .panel {
  		max-width: 450px;
			text-transform: initial;
			margin-right: 15px;
  		& h3 {
  			font-size: 17px;
  			margin-top: 15px;
  			margin-bottom: 5px;
  		}
  		& p {
  			color: #666666;
  			font-size: 14px;
  			margin: 0;
  		}
  	}
  }
  & .mapa-nacional {
	    width: 420px;
	}
}