.table-padrao{
    background: #fff;
    border-radius: 5px;
    margin-top: 15px;
        & thead tr th{
            font-weight: 600;
            color: #313131;  
            border-bottom: none; 
            min-width: 120px;             
        }
        & tbody tr
            &:hover{
                background-color:#e0e0e0!important; 
            }
            td{
             color: #555;
             border-top: none!important;
                & div{
                    padding: 0!important;
                }
            }
}
.mr-28 {
    margin-right: 28px!important;
  } 