#painel-transportador,
#painel-gerador,
#painel-fiscal,
#painel-destino-final {
  & #modalNewCTRE .modal-dialog,
  #modalNewVinculoGerador .modal-dialog,
  #modalNewVinculoDestino .modal-dialog,
  #modalEditGerador .modal-dialog,
  #modalEditDestino .modal-dialog,
  #modalVeiculoLicenca .modal-dialog,
  #modalAtivarRenovarVeiculos .modal-dialog,
  #modalAtivarRenovarEquipamentos .modal-dialog,
  #modalVisualizarBoleto .modal-dialog,
  #modalVisualizarCTRE .modal-dialog,
  #modalValidarCTRE .modal-dialog,
  #modalVeiculoQrcode .modal-dialog,
  #modalEquipamentoLicenca .modal-dialog,
  #modalEquipamentoQrcode .modal-dialog,
  #modalNewCTREGerador .modal-dialog,
  #modalNewVinculoTransportador .modal-dialog,
  #modalEditTransportador .modal-dialog {
    width: 900px;
  }
}



