@media only screen and (min-device-width: 320px) and (orientation: portrait) {
  section#home .content .titulo-novo {
    font-size: 32px;
    font-weight: bold;
    background-color: #ffff00;
  }
}
@media only screen and (min-device-width: 1200px) {
  section#home .content .titulo-novo {
    font-size: 32px;
    font-weight: bold;
    color: #FFFF00;
    background-color: #000000;
  }
}


/*# sourceMappingURL=amlurb.css.map */
