<script>
    export default {

        props: ['veiculos'],
        data() {
            return {
                list: []
            }
        },
        mounted() {
            this.list = JSON.parse(this.veiculos)
        }
    }
</script>

<template>
    <div>
        <div class="col-xs-12">

            <h2>Relação de CTR-E</h2>

            <div class="box-rastreabilidade">

                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover table-rastreabilidade">
                            <thead>
                            <tr>
                                <th>Nr. CTR-E</th>
                                <th>Empresa</th>
                                <th>Nr. Amlurb</th>
                                <th>Alertas</th>
                                <th>Rastreio</th>
                                <th>Status CTR-E</th>
                            </tr>
                            </thead>
                            <tbody id="rastreabilidade-list-fiscal">
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-aberto">Em Aberto</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro btn">G</div>
                                    <div class="rastreio-neutro rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-aberto">Em Aberto</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-neutro btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-aberto">Em Aberto</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-neutro rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-finalizado">Finalizado</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-neutro rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-finalizado">Finalizado</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-neutro rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-expirado">Expirado</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-neutro rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-finalizado">Finalizado</div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="ctre">1711011146040018083</div>
                                </td>
                                <td>
                                    <div class="empresa">Grande Geradora de Resíduos S/A</div>
                                </td>
                                <td>
                                    <div class="limpurb">GG7713623/2017</div>
                                </td>
                                <td>2</td>
                                <td>
                                    <div class="rastreio-neutro rastreio-gg btn">G</div>
                                    <div class="rastreio-neutro rastreio-tr btn">T</div>
                                    <div class="rastreio-neutro rastreio-df btn">D</div>
                                </td>
                                <td>
                                    <div class="status status-finalizado">Finalizado</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="diviser"></div>
                </div>

            </div>

        </div>

        <div class="col-xs-12" id="box_status_ctre">

            <h2>Status do CTR-E <span class="status status-aberto">Em Aberto</span></h2>

            <img class="imagem1" src="/images/imgem1.png" alt="Rastreabilidade">

            <div class="col-xs-12 col-sm-2">
                <div class="box-tempo">

                </div>
                <div class="box-inf-ctre">

                </div>
            </div>

            <div class="col-xs-12 col-sm-10">
                <div class="col-xs-12 col-sm-4">
                    <div class="box-rastreio-fs">
                        <div class="image-gg"></div>
                        <div class="titulo"></div>
                        <div class="texto"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4"></div>
                <div class="col-xs-12 col-sm-4"></div>
                <div class="col-xs-12 col-sm-4"></div>
                <div class="col-xs-12 col-sm-4"></div>
                <div class="col-xs-12 col-sm-4"></div>
            </div>
        </div>

    </div>

</template>

<style scoped=""></style>