<template>
    <div id="app">
        <table-component :data="fetchData">
            <table-column show="firstName" label="First name"></table-column>
        </table-component>
    </div>
</template>

<script>
    import axios from 'axios';

    export default {
        methods: {
            async fetchData({page, filter, sort}) {
                const response = await axios.get('/lista-empresas-aprovacao', {page});

                // An object that has a `data` and an optional `pagination` property
                return response;
            }
        }
    }
</script>