<script>
    export default {

        props: ['veiculos'],
        data() {
            return {
                list: []
            }
        },
        mounted() {
            this.list = JSON.parse(this.veiculos)
        }
    }
</script>

<template>
    <div>
        <div class="col-xs-12">

            <h2>Licenças Veículos</h2>

            <div class="well">
                <input type="text" class="form-control" placeholder="Filtrar a lista abaixo">
            </div>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>Nr.</th>
                    <th>Placa</th>
                    <th>Tipo de Veículo</th>
                    <th>Marca</th>
                    <th>Data de Emissão</th>
                    <th>Data de Vencimento</th>
                    <th>Status</th>
                    <th>Ação</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="veiculo in list">
                    <td>{{ veiculo.id }}</td>
                    <td>{{ veiculo.placa }}</td>
                    <td>{{ veiculo.tipo }}</td>
                    <td>{{ veiculo.marca }}</td>
                    <td>{{ veiculo.created_at }}</td>
                    <td></td>
                    <td><a href="#" class="btn btn-default">OK</a></td>
                    <td><a href="#" class="btn btn-primary">Renovar</a></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</template>

<style scoped=""></style>
