section#painel-fiscal {

  & .conteudo {

    & .containerAprovacaoCadastro {

      & .indicadores {
        overflow: hidden;

        & .header {
          margin: 20px 0;
          display: flex;
          justify-content: space-between;
          height: 54px;

          & .titulo {
            height: 100%;
            border-radius: 30px;
            background-color: @corModuloFiscal;
            overflow: hidden;

            & h2 {
              font-size: 20px;
              font-weight: 300;
              color: #fff;
              height: 100%;
              margin: 0;
              display: flex;
              align-items: center;
              padding: 0 20px 0 5px;
            }

            & i {
              background-color: #fff;
              background-size: cover;
              height: 46px;
              width: 46px;
              border-radius: 30px;
              margin-right: 5px;
              color: @corModuloFiscal;
              font-size: 31px;
              display: flex;
              align-items: center;
              justify-content: center;

              &.reverse {
                transform: scaleX(-1);
              }
            }
          }

          & .total {
            height: 100%;

            & span {
              min-width: 54px;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              background-color: @corModuloFiscal;
              font-size: 20px;
              font-weight: 300;
              border-radius: 30px;
            }
          }
        }

        & .containerBoxIndicador {
          display: flex;
          background-image: linear-gradient(to bottom, #dcdcdc, #dadada);
          padding: 30px 0;
          margin: 0;

          & .boxIndicador {
            width: 252px;
            height: 240px;
            background-color: #FFF;
            border-radius: 15px;
            box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.25);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0 15px 30px;
            padding: 20px 0;
            outline: none;
            text-decoration: none;
            transition: box-shadow 0.2s ease;

            &:active {
              box-shadow: none;
            }

            & .image-indicador {
              background-image: url(../images/ico-ctr-emitido.png);
              background-repeat: no-repeat;
              background-position: center center;
              background-size: contain;
              flex-shrink: 0;
              width: 65px;
              height: 65px;
              margin: 0 0 15px;
            }

            & .corpo-indicador {
              color: #5e5e5e;
              line-height: 35px;
              padding: 2px 0 0;
              font-size: 46px;
              text-align: center;
            }

            & .diviser-indicador {
              border-bottom: 9px solid #6d87a8;
              border-radius: 6px;
              width: 50%;
              margin: 12px auto;
              display: block;
            }

            & .titulo-indicador {
              font-size: 17px;
              margin-top: 8px;
              color: #000;
              text-transform: uppercase;
              font-weight: 500;
              text-align: center;
              line-height: 24px;
            }

            &.isPg {

              & .image-indicador {
                background-image: url(../images/ico-pg-fiscal.png);
              }

              & .diviser-indicador {
                border-color: @titulo-box-indicador-pg;
              }
            }

            &.isGg {

              & .image-indicador {
                background-image: url(../images/ico-gg-fiscal.png);
              }

              & .diviser-indicador {
                border-color: @titulo-box-indicador-gg;
              }
            }

            &.isTr {

              & .image-indicador {
                background-image: url(../images/ico-transportadores-fiscal.png);
              }

              & .diviser-indicador {
                border-color: @titulo-box-indicador-tr;
              }
            }

            &.isDf {

              & .image-indicador {
                background-image: url(../images/ico-df-fiscal.png);
              }

              & .diviser-indicador {
                border-color: @titulo-box-indicador-df;
              }
            }

            &.isCr {

              & .image-indicador {
                background-image: url(../images/ico-cooperativas-fiscal.png);
              }

              & .diviser-indicador {
                border-color: @titulo-box-indicador-cr;
              }
            }

            &.isCm {

              & .image-indicador {
                background-image: url(../images/ico-condominio-misto-fundo.png);
              }

              & .diviser-indicador { 
                border-color: #005949;
              }
            }
            &.isSs {

              & .image-indicador {
                background-image: url(../images/ico-servico-saude.png);
              }

              & .diviser-indicador { 
                border-color: #0082a1;
              }
            }
            &.isOp {

              & .image-indicador {
                background-image: url(../images/ico-orgao-publico.png);
              }

              & .diviser-indicador { 
                border-color: #00a8e8;
              }
            }
          }
        }
        & .containerCadastros{
          display: inline-block;
          width: 100%;          
          & a {
            float: left;
            width: 22%!important;
          }
        }
        & .shadow {
          box-shadow: inset 0 0 20px -5px rgba(49, 49, 49, 0.85);
        }
      }
    }

    & .containerTableAprovacao {
      margin: 30px 0;
    }
  }
}

#containerDetalhesEmpresa {

  & .documentosEmpresa {

    & .flex {

      & a.btn,
      & button {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      & a.btn i {
        margin-left: 5px;
      }

      & button {
        margin-left: 5px;
        width: 37px;
        padding: 0;
        display: none; //até decidirmos como irá funcionar esta aprovação individual
      }

      &.datas {
        margin: 10px 0 0;
        justify-content: flex-start;
        flex-wrap: wrap;

        & input {
          width: 118px;
          text-align: center;
          font-weight: 300;
          margin-left: 10px;

          &:first-of-type {
            margin-left: 0;
          }
        }
      }
    }
  }

  & .flex {

    &.btnAcoes {
      justify-content: flex-end;

      & button {
        margin-left: 10px;
      }
    }
  }
}

.dataTables_wrapper {

  & .dataTables_processing {
    position: absolute;
    top: 0;
    left: 15px;
    width: 80px;
    height: 40px;
    padding-top: 0;
    text-align: center;
    font-size: 1.2em;
    background: url("../images/logo-loading.gif") no-repeat center center;
    text-indent: 9999px;
  }

  & .dataTables_filter {
    display: flex;
    justify-content: flex-end;

    & label {
      font-weight: normal;
      color: #313131;

      & input {
        height: 36px;
        padding: 6px 12px;
        background-color: #fff;
        border: 1px solid #ccd0d2;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        display: inline-block;
        width: auto;
        vertical-align: middle;
        margin-left: 10px;

        &:focus, :hover {
          outline: none;
          box-shadow: none;
        }
      }
    }
  }
  .sorting{
    background: url(../images/black-unsorted.gif) no-repeat 97% center;
    background-size: 10px;
    &:last-of-type{
      background: transparent;
    } 
  } 
  
  & .dataTable {
    margin: 20px 0;
    width: 100% !important;

    & th {
      font-weight: 600;
      color: #313131;

      &:not(.sorting_disabled) {
        cursor: pointer;
      }   
      & .sorting{
        background: url(../images/black-unsorted.gif) no-repeat 97% center;
        background-size: 10px;
          &:last-of-type{
        background: transparent;
        } 
      }  

      &.sorting_asc {
        background: url(../images/black-asc.gif) no-repeat 97% center;
        background-size: 10px;
        &:last-of-type{
          background: transparent;
        } 
        & div {
          align-items: center;
          justify-content: space-between;

          &::after {
            content: '\f077';
            font-family: FontAwesome;
            color: @corModuloFiscal;
            font-size: 15px;            
          }
        }
      }

      &.sorting_desc {
        background: url(../images/black-desc.gif) no-repeat 97% center;
        background-size: 10px;
        &:last-of-type{
          background: transparent;
        } 
        & div {
          align-items: center;
          justify-content: space-between;

          &::after {
            content: '\f078';
            font-family: FontAwesome;
            color: @corModuloFiscal;
            font-size: 15px;
            
          }
        }
      }
    }

    & tbody {
      background-color: #f4f4f4;

      & tr {
        cursor: pointer;
        transition: all 0.2s ease;
        font-weight: 400;

        &:hover {
          background-color: @corModuloFiscal;
        }
      }

      & td {
        vertical-align: middle;
      }
    }
  }
}

/* Data Tables */

.dataTables_length {
  display: none;
}

.dataTables_info {
  float: left !important;
}

.dataTables_wrapper .dataTables_paginate a {
  padding: 1px 8px;
}

.dataTables_wrapper .dataTables_paginate .first, 
.dataTables_wrapper .dataTables_paginate .last, 
.dataTables_wrapper .dataTables_paginate .previous, 
.dataTables_wrapper .dataTables_paginate .next,
.dataTables_wrapper .dataTables_paginate a.current {
    background: #A0A0A0;
}