section#cadastro-empresa {

  & .menu-lateral {
    background-color: @menu-lateral-cadastro-background;

    & a {
      display: block;
      outline: none;
    }

    & .logo-ctre-menu {
      margin: 19px auto;
      display: block;
      max-width: 100%;
      padding: 0 10px;
    }
  }

  & .conteudo,
  & .conteudo-transportador,
  & .conteudo-sucesso,
  & .conteudo-gerador-condominio {
    position: relative;
    display: block;
    height: 100%;
    background-color: @conteudo-cadastro-background;
    padding-bottom: 80px;

    & h1 {
      font-size: 30px;
      color: #FFF;
      text-transform: uppercase;
      padding: 28px 0 25px 23px;
      background-color: @titulo-cadastro-background;
      margin-bottom: 40px;

      & span {
        font-size: 18px;
        text-transform: none;
        font-weight: 300;
        margin-top: 0;
        margin-right: 20px;
        float: right;
      }
    }

    & h2 {
      font-size: 18px;
      text-transform: uppercase;
      color: @subtitulo-cadastro-color;
      font-weight: bold;
      margin-top: 22px;

      &.text-warning {
        color: #8a6d3b;
      }
    }

    & .box-cadastro {
      margin-top: 20px;
      position: relative;

      & #ajax-panel {
        position: absolute;
        left: 170px;
        top: -13px;
        margin: auto;
      }

      & .form-group {
        margin-bottom: 18px;

        & label {
          font-size: 17px;
          color: #000;
          margin: 0;
          font-weight: 500;

          & span {
            font-size: 12px;

            &.obrigatorio {
              color: @titulo-cadastro-background;
              font-size: 18px;
            }
          }
        }

        & input[type="file"] {
          cursor: pointer;
        }

        @-moz-document url-prefix() {

          & input[type="file"] {
            cursor: pointer;
            padding: 0;
          }
        }

        & legend {
          font-size: 18px;
          color: #000;
          margin-bottom: 0;
          border-bottom: 0;
        }

        & .form-check {
          padding-left: 21px;
          & label {
            font-weight: normal;
          }
        }

        & .alert-danger {
          padding: 2px 1px;
          margin: 0;
        }

        & .checkbox {
          margin: 0;
          position: relative;

          & label {
            display: block;
            padding: 0;
            font-size: 16px;

            &::after {
              content: '';
              width: 36px;
              height: 36px;
              cursor: pointer;
              font-family: "fontAwesome";
              font-size: 25px;
              color: #999;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #ccd0d2;
              border-radius: 4px;
              background-color: #fff;
              transition: opacity 0.3s ease;
              margin: 1px 0 0;
            }
          }

          & input[type=checkbox] {
            margin: 0;
            opacity: 0;
          }

          & input[type="checkbox"]:checked + label::after {
            content: "\f00c";
          }
        }
      }

      & .diviser {
        border-bottom: 1px solid @projeto-background;
      }
    }

    .cadastroMensagem {
      & p {
        font-size: 17px;
        color: #4B4B4B;
      }
    }

    #formCadastroEmpresa {
      font-size: 16px;
      & .btnProsseg {
        background-color: #52B35B;
        color: #f5f5f5;
        text-transform: uppercase;
        padding: 6px 30px;
        font-size: 16px;        
        height: auto;
      }
      & .btnVoltar {
        background-color: #FFA52A;
        color: #f5f5f5;
        text-transform: uppercase;
        padding: 6px 30px;
        font-size: 16px;
        margin-right: 20px;       
        height: auto;
      }
    }

    & .btn-submit,
    & .btn-enviar,
    & .btn-finalizar {
      width: 235px;
      background-color: #1f661f;
      height: 35px;
      color: #FFF;
      text-transform: uppercase;
      font-size: 17px;
      padding: 0;
      font-weight: normal;
      float: right;
      margin-top: 20px;
      height: auto;
    }

    & .btn-finalizar {
      background-color: #1f648b;
      margin-left: 5px;
    }

    & #gerador_frequencia, #gerador_outras_inf {
      display: none;
    }
  }

  & .conteudo-transportador {
    float: left;
  }

  & .conteudo-gerador-condominio {
    float: left;
    width: 100%;
  }

  & .conteudo-sucesso {
    min-height: 500px;

    & .box-mensagem {
      padding: 15px;
      margin-top: 30px;

      & h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 23px;
        margin: 0 0 15px;
      }

      & .alert {
        width: 78%;
        display: block;
        margin: 18px auto;

        & ul {
          margin: 0;
          padding: 0;

          & li {
            list-style: none;
            display: flex;
            align-items: center;

            strong {
              width: 50%;
              text-align: right;
              padding-right: 5px;
            }

            & p {
              margin: 0;
              padding-left: 5px;
              width: 50%;
              text-align: left;
            }
          }
        }

        & .btn-default {
          background-color: @titulo-cadastro-background;
          color: #FFF;
          margin: 15px 0 0;
          transition: all 0.3s linear;

          &:hover {
            background-color: darken(@titulo-cadastro-background, 7%);
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }
      }

      & .empresa-inf {

        & p {
          margin: 0;
        }

      }
    }
  }

  & .containerTermosDeUso {

    & .termoDeUso {
      //max-width: 700px;

      & .textoTermo {
        font-size: 10px;
        width: 100%;
        height: 250px;
        overflow: auto;
        border: 1px solid #b6b6b6;
        padding: 10px 5px 10px 10px;
        border-radius: 2px;
      }
    }

    /* The container */
    & label {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      & input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }

      & input:checked ~ .check {
        background-color: @titulo-cadastro-background;
        border-color: @titulo-cadastro-background;
      }

      & input:checked ~ .check:after {
        display: block;
      }

      & .check {
        position: absolute;
        top: 0;
        left: 0;
        height: 25px;
        width: 25px;
        background-color: #eee;
        border: 1px solid #b6b6b6;
        border-radius: 2px;

        &:after {
          content: "";
          position: absolute;
          display: none;
        }

        &:after {
          left: 9px;
          top: 4px;
          width: 6px;
          height: 13px;
          border: solid white;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }

      &:hover input ~ .check {
        background-color: #ccc;
      }
    }

    & .btn-default {
      .conteudo.btn-submit;
      float: none;
    }
  }

  & .btnCadastroFilial {
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 17px;
    margin: 15px 0 30px auto;
  }

  & .containerAlertFilial {
    width: 100%;
    margin: 15px 15px 0 auto;

    & .alert {
      padding: 8px 0;
      border-radius: 2px;
    }
  }

  & .flex {
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 0 15px;

    & .btn-enviar {
      float: none;
      margin: 15px 0 0 auto;
      height: 40px;
    }
  }

  & .listaEmpresaFiliais {
    margin: 0;
    padding: 0;

    & li {
      list-style: none;
      display: flex;
      align-items: center;
      font-size: 15px;
      padding: 2px 5px;
      border: 1px solid #cccaca;
      margin-bottom: -1px;
      color: #4a4a4a;
      background-color: #ececec;

      &:first-of-type {
        border: 0;
        color: #313131;
        font-size: 16px;
        background-color: transparent;
      }

      &:not(:first-of-type):nth-child(odd) {
        background-color: darken(#ececec, 4%);
      }

      & p {
        margin: 0 0 2px;
      }

      & span {
        width: 30%;
        flex-shrink: 1;

        &:nth-child(2) {
          width: 40%;
        }
      }
    }
  }

  & #formTerceiraEtapa {

    & .form-group {
      position: relative;
    }

    & input[type=file] {
      background-color: transparent;
      position: relative;
      z-index: 2;
    }

    & p.text-danger {
      position: relative;
    }
  }
}

#modalCadastroSucesso {

  & .modal-content {

    & .modal-body {

      & h2 {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 23px;
        margin: 0 0 15px;
      }

      & .alert {
        width: 78%;
        display: block;
        margin: 18px auto;

        & .btn-default {
          background-color: @titulo-cadastro-background;
          color: #FFF;
          margin: 15px 0 0;
          transition: all 0.3s linear;

          &:hover {
            background-color: darken(@titulo-cadastro-background, 7%);
          }

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

      }
    }
  }
}

#loading-cadastro {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
  align-items: center;
  justify-content: center;

  &.ativo {
    display: flex;
    opacity: 0.9;
  }

  & .loading {
    width: 100px;
    height: 100px;
    background-color: #f1f1f1;
    border-radius: 100%;
    text-align: center;
    padding-top: 33px;
    opacity: 1;
  }
}

#modalCadastroFilial {

  & .close {
    padding: 12px;
    font-size: 25px;
  }

  & .modal-title {
    color: @subtitulo-cadastro-color;
    font-weight: 300;
  }

  & hr {
    border-color: #e5e5e5;
  }

  & .modal-body {
    background-color: #f2f2f2;
  }

  & .modal-footer {
    display: flex;
    justify-content: flex-end;
  }

  & .sub-titulo {
    color: @subtitulo-cadastro-color;
    font-weight: 300;
    font-size: 22px;
    margin-top: 0;
  }

  & .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 15px;
    font-weight: 300;
    padding: 6px 20px;
    outline: none;
  }
}

.dataTables_wrapper {

  & .dataTables_info {
    float: none;
    text-align: right;
    margin: 0 0 10px;
  }
}

.stepwizard-step p {
  margin-top: 0;
  color: #666;
}

.stepwizard-step a.btn {
  margin: 0 auto;
}

.setup-content {
  box-shadow: none;
}

.stepwizard-row {
  display: table-row;
}

.stepwizard {
  display: table;
  width: 100%;
  position: relative;
}

.stepwizard-step button[disabled] {
  /*opacity: 1 !important;
  filter: alpha(opacity=100) !important;*/
}

.stepwizard .btn.disabled, .stepwizard .btn[disabled], .stepwizard fieldset[disabled] .btn {
  opacity: 1 !important;
  color: #bbb;
}

.stepwizard-row:before {
  top: 14px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 100%;
  height: 1px;
  background-color: #ccc;
  z-index: 0;
}

.stepwizard-step {
  display: table-cell;
  text-align: center;
  position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.conteudo-sucesso {
  overflow: hidden;

  & .dadosDaEmpresa ul {
    list-style: none;
    padding: 15px 0 5px 0;
    width: 90%;
    margin: auto;
    background-color: #ffffff;
    border-radius: 6px;
    height: 145px;

    & p {
      width: 100%;
      text-align: left;

      & strong {
        width: 50%;
        float: left;
        text-align: right;
        padding-right: 20px;
        text-transform: uppercase;
      }
    }
  }
}

.bt-go-home {
  background-color: #52B35B;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 20px;
}
