.menu-lateral {
  z-index: 100;

  & .nav {

    & li {

      & a {
        border-radius: 0;
      }
    }
  }
}

.form-group {

  & label {
    font-size: 18px;
    color: #000;
    font-weight: 400;

    &.required {

      &::after {
        content: '*';
        color: @titulo-cadastro-background;
        font-size: 18px;
        margin-left: 4px;
        line-height: 0;
        vertical-align: middle;
      }
    }
  }

  & .form-control {
    font-size: 16px;
    color: #999;
    border-color: #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    .retiraFocusDefault();

    &:focus {
      border-color: #cecece;
      box-shadow: inset 0 0 5px rgba(185, 185, 185, 0.43);
    }

    &:disabled {
      background-color: #f2f2f2;
    }
  }

  & input[type=file] {
    padding: 4px 12px;
  }

  & .text-danger {
    color: #ea524f;
  }

  &.error {

    & .form-control,
    & .btn-upload,
    & .chosen-container .chosen-single {
      border-color: #ea524f;
    }
  }
}

textarea {
  resize: vertical;
}

.btn {
  border-radius: 4px;
  height: 40px;
  outline: none;
  color: #fff;
  font-size: 16px;
  padding: 9px 12px;

  &:active:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    color: #fff;
    opacity: 0.8;
  }

  &.btn-danger {
    background-color: #C93E3E;
    border-color: #C93E3E;
  }

  &.btn-success {
    background-color: #008F52;
    border-color: #008F52;
  }

  &.btn-warning {
    background-color: #FFA52A;
    border-color: #FFA52A;
  }
}

/* usuarios */
section#painel-fiscal .menu-lateral .configuracoes {
  background: url(../images/ico-config.png) center center no-repeat;
  width: 25px;
  height: 24px;
  background-size: cover;
  display: block;
  float: left;
  margin-right: 15px;
}

.nav-pills.bg-transparent-tab {
  color: #000;
  font-size: 19px;
  border-bottom: 1px solid #778;

  & > li {

    & a {
      border-bottom: 7px solid transparent;
      border-radius: 0;
      color: #000;
      outline: none;

      &:hover {
        background-color: transparent;
      }
    }

    &.active {

      & > a {
        background-color: transparent;
        font-weight: bold;
        color: #000;

        &:hover,
        &:focus {
          background-color: transparent;
          color: #313131;
        }
      }
    }
  }
}

#painel-fiscal {

  & .nav-pills.bg-transparent-tab {

    & > li {

      &.active {

        & > a {
          border-color: @corModuloFiscal;
        }
      }
    }
  }
}

#painel-destino-final {

  & .nav-pills.bg-transparent-tab {

    & > li {

      &.active {

        & > a {
          border-color: @corModuloDestinoFinal;
        }
      }
    }
  }
}

#painel-gerador {

  & .nav-pills.bg-transparent-tab {

    & > li {

      &.active {

        & > a {
          border-color: @corModuloGerador;
        }
      }
    }
  }
}

#painel-transportador {

  & .nav-pills.bg-transparent-tab {

    & > li {

      &.active {

        & > a {
          border-color: @corModuloTransportador;
        }
      }
    }
  }
}

.margin-top {
  margin-top: 20px;
}

.green {
  color: #008f52;
  font-size: 19px;
  font-weight: bold;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid black;
}

label.btn.input.custom {
  background: white;
  width: 100%;
  border: 1px solid @border-input-color;
  overflow: hidden;
}

.custom_send_fiscal,
.custom_send_transportador,
.custom_send_gerador,
.custom_send_destino_final {
  min-width: 135px;
}

.custom_send_fiscal {
  background-color: #FDA43B;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    color: #fff;
    background-color: lighten(#FDA43B, 6%);
  }
}

.custom_send_transportador {
  background: #ca3e3f;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    color: #fff;
    background-color: lighten(#ca3e3f, 6%);
  }
}

.custom_send_gerador {
  background: #009053;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    color: #fff;
    background-color: lighten(#009053, 6%);
  }
}

.custom_send_destino_final {
  background: #056793;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    outline: none;
    color: #fff;
    background-color: lighten(#056793, 6%);
  }
}

.img-circle {
  border-radius: 50%;
}

.img-circle {
  border-radius: 0;
}

.ratio {
  background: no-repeat center center;
  background-size: cover;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  width: 100%;
}

.img-circle {
  border-radius: 50%;
}

.img-responsive {
  display: block;
  width: 150px;
  height: 150px;
}

.select2-container--default {

  & .select2-selection--single {
    height: 36px;
    display: flex;
    align-items: center;
    outline: none;
    font-size: 16px;
    color: #999;
    border-color: #e6e6e6;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: none;

    & .select2-selection__arrow {
      height: 100%;
    }
  }

  &.select2-container--open {

    & .select2-selection--single {
      box-shadow: inset 0 0 5px rgba(185, 185, 185, 0.43);
    }

    & .select2-dropdown {
      box-shadow: 0 4px 8px rgba(49, 49, 49, 0.12);
      border-color: #cecece;
      overflow: hidden;
      border-radius: 0 0 4px 4px;
    }
  }
}

#loadingModal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.34);
  z-index: 1;
  align-items: center;
  justify-content: center;
  display: none;

  &.ativo {
    display: flex;
  }

  & .containerLoading {
    background-color: #f2f2f2;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.32);
    border-radius: 15px;
  }
}

.relative {
  position: relative;
}

.btn-upload {
  position: relative;
  border: 1px solid @corModuloGerador;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  height: 36px;

  & input[type=file] {
    opacity: 0;
    position: absolute !important;
    z-index: -1 !important;
  }

  & .progress {
    position: relative !important;
    color: #6f6e6e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 17px;
    z-index: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    border-radius: 0;
    box-shadow: none;

    & p {
      margin: 0;
      font-size: 14px;
      line-height: 19px;
    }

    & .bar {
      width: 0;
      transition: width 0.5s linear;
      position: absolute;
      height: 100%;
      background-color: #006339;
      left: 0;
      top: 0;
      z-index: -1;
      display: flex;
      align-items: center;

      &::before {
        content: attr(data-content);
        margin-left: 10px;
        color: #f9f9f9;
        font-size: 14px;
        line-height: 19px;
        text-shadow: 1px 1px 3px #313131;
      }
    }
  }

  &.success {

    & .progress {
      color: #fff;
    }
  }

  &.error {

    & .progress {
      color: #fff;

      & .bar {
        background-color: #ea524f;
      }
    }

    & span {
      background-color: #ea524f;
    }
  }

  & .divisor {
    width: 1px;
    height: 28px;
    background-color: #fff;
    flex-shrink: 0;
    position: relative;
    z-index: 5;
    margin: 4px 0 0;
  }

  & span {
    background-color: @corModuloGerador;
    width: 70px;
    flex-shrink: 0;
    height: 36px;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 0;

    &::before {
      content: "";
      width: 1px;
      height: 80%;
      background-color: #fff;
      margin-left: -2px;
    }

    & .fa-upload {
      content: "\f093";
      font-family: FontAwesome;
      font-style: normal;
      font-size: 16px;
      margin: 0 auto;
    }
  }

}

.alert {
  box-shadow: 1px 1px 5px rgba(49, 49, 49, 0.29);
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.bt-bg-color-green {    
  background-color: #008F52;
  border-color: #008F52;
}
.text-ver-documento{
  float: left;
  margin-left: 8px;
  background: #fff;
  padding: 7px 10px;
  border-radius: 4px;
  color: #999;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #999;
  }
}
.display-block{
  display: block;
}
.float-left{
  float: left;
}
.table-white{
  background-color: #fff;
}
.cursor-pointer{
  cursor: pointer;
}
.width_box_3{
  width: 32%!important;
  margin-left: 1%;
  margin-right: 1%;
    &:first-of-type{
      margin-left: 0;
    }
    &:last-of-type{
      margin-right: 0;
    }
}
.d-flex{
  display: flex!important;
}
.float-none{
  float: none!important;
}