.box-reset-password {
  margin: 150px 0;

  & .btn-primary {
    background-color: @titulo-cadastro-background;
    border: none;
    text-transform: uppercase;
    .retiraFocusDefault();

    &:active {
      background-color: @titulo-cadastro-background;
    }
  }
}