section#login {

  & .panel {
    position: relative;
    max-width: 450px;    
    min-height: 509px;
    margin: 53px auto 0;
    border-radius: 12px;
    overflow: hidden;
    text-transform: uppercase;

    & .panel-heading {
      padding: 29px 15px 16px;
      border-bottom: none;

      & .logo-ctre-login {
        margin: 0 auto;
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }

    & .panel-body {

      & .form-group {
        margin-bottom: 17px;

        & .input-group {
          height: 47px;

          & .input-group-addon {
            background-color: transparent;
            padding: 0 0 0 3px;
            border-top-left-radius: 23px;
            border-bottom-left-radius: 23px;
            border-color: @border-input-color;

            & .icon-login, .icon-senha, .icon-cidade {
              background: url('../images/ico-user.png') center center no-repeat;
              width: 41px;
              height: 41px;
              background-size: cover;
              display: block;
            }

            & .icon-senha {
              background: url('../images/ico-pass.png') center center no-repeat;
            }

            & .icon-cidade {
              background: url('../images/ico-cidade.png') center center no-repeat;
            }

          }

          & .input-login {
            height: 47px;
            border-radius: 0 23px 23px 0;
            border-left: none;
            border-color: @border-input-color;

            &:focus {
              border-color: @border-input-color;
              box-shadow: none;
              outline: none;
            }
          }

          & .select2-container--default {

            &:focus {
              box-shadow: none;
              outline: none;
            }

            & .select2-selection--single {
              height: 49px;
              border-radius: 0 23px 23px 0;
              border-left: none;
              border-color: @border-input-color;
              background: #FFF !important;
              padding: 11px 0 12px 12px;

              & div {
                padding-top: 11px;
              }

            }

            &.select2-container--open {

              & .select2-selection--single {
                box-shadow: none;
                border-bottom-right-radius: 0;
                border-bottom-color: transparent;
              }
            }
          }
        }

        & .btn-login {
          height: 50px;
          width: 145px;
          border-radius: 54px;
          background-color: @btn-login-background;
          margin: 4px auto;
          color: #FFF;
          text-transform: uppercase;
          font-size: 15px;
          display: block;
          transition: all 0.3s linear;

          &:hover {
            background-color: darken(@btn-login-background, 20%);
          }

          &:focus {
            outline: none;
            box-shadow: none;
            border: none;
          }
        }

        & .btn-link {
          margin: 0 auto;
          display: block;
          color: @link-forgot-pass-color;

          &:hover {
            text-decoration: none;
          }
        }
      }

      & .mensagem {
        text-transform: none;
      }
    }
  }

  & .cadastro-aqui {
    max-width: 420px;
    margin: 12px auto 10px;
    border-radius: 12px;
    background-color: @cadastro-background;
    position: relative;
    padding: 14px 0;
    text-align: center;

    & p {
      font-size: 23px;
      margin-bottom: 0;
      color: #fff;
      font-weight: 300;

      & a {
        font-weight: 500;
        color: #FFF;
        display: block;

        &:focus {
          outline: none;
          text-decoration: none;
        }

        &:hover {
          transition: all 0.2s linear;
          color: @titulo-cadastro-background;
          text-decoration: none;
        }
      }
    }
  }

  & .termos-privacidade {
    height: 71px;
    width: 420px;
    margin: 12px auto 10px;
    position: relative;
    padding: 14px 0 0;
    text-align: center;

    & p {
      font-size: 14px;
      margin-bottom: 0;
      color: #fff;
      font-weight: 300;

      & a {
        font-weight: 500;
        color: #FFF;

        &:hover {
          transition: all 0.2s linear;
          color: @cadastro-background;
          text-decoration: none;
        }
      }
    }
  }

  & .mapa-nacional {
    background: url('../images/mapa.png') center center no-repeat;
    height: 627px;
    background-size: contain;
    margin-top: 55px;
    display: block;
  }

  & .logo-plataforma-verde {
    width: 121px;
    height: 63px;
    float: right;
    margin-top: 34px;
    margin-right: 0;
  }
}

.cont-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    & div {
      width: 550px;
      margin: 50px 0 0 0;
      & p {
        color:  #707070;
        & b {
          font-weight: 600;
          text-transform: uppercase;
          color:  #000000;
        }
      }
    }
}

.tabLogin{
  display: inline-block;
  text-align: center;
  width: 100%;
  & ul{   
    & li{
      list-style-type: none;     
      padding-top: 7px;
      color: #939393;
      font-size: 15px;
      padding: 10px 10px 0px 10px;
      cursor: pointer;
      display: inline-block;
    }
  }
}
.activeTabLogin{
  border-bottom: 2px solid #005c11;
}
.accordion{
    margin: 5px 0; 
}

.accordionItem{
    float:left;
    display:block;
    width:100%;
    box-sizing: border-box;
    font-family:'Open-sans',Arial,sans-serif;
}
.accordionItemHeading{
  font-size: 12px;
    cursor: pointer;
    margin: 0px 0px 5px 0px;
    padding: 10px;
    background: #e6e6e6;
    color: #7f8c8d;
    width: 100%;
    border-radius: 3px;
    text-transform: uppercase;
    text-shadow: 0 0px 0 #fff;
}

.close{ 
  & .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
	  -o-transform: scaleY(0);
	  -ms-transform: scaleY(0);
	  transform: scaleY(0);
    float:left;
    display:block;         
  }
}

.accordionItemContent{
  &.active{
    background-color: #e0e0e0!important;
  }
  & h3 {
    font-weight: bold;
    padding: 5px 8px;
    margin: 5px 0;
    color: #939393;
    margin-top: 0!important;
    font-size: 14px!important;
    font-family: 'Roboto Condensed', sans-serif !important;
  }   
}

.open {
  & .accordionItemContent{
      background-color: #fff;
      width: 100%;
      margin: 0px 0px 10px 0px;
      display:block;
      -webkit-transform: scaleY(1);
      -o-transform: scaleY(1);
      -ms-transform: scaleY(1);
      transform: scaleY(1);
      -webkit-transform-origin: top;
      -o-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
      -webkit-transition: -webkit-transform 0.4s ease-out;
      -o-transition: -o-transform 0.4s ease;
      -ms-transition: -ms-transform 0.4s ease;
      transition: transform 0.4s ease;
      box-sizing: border-box;
    }
    & .accordionItemHeading{    
        background-color: #efefef;
        color: #7f8c8d;
        font-size: 14px;
        text-transform: uppercase;
    }
}

.noOpacity{
  opacity: 1;
}
.accordion-item{
  & label{
    font-size: 14px;
    background-color: #f7f7f7;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    padding: 5px 8px;
    & a{
      color:#656565;
      &:hover{
        text-decoration: none;
      }
    }
  }
}

.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 0 8px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
    }


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the accordion panel. Note: hidden by default */
.panelResposta {
  padding: 0 8px;
  background-color: white;
  display: none;
  overflow: hidden;
  & p{
    font-family: 'Roboto Condensed', sans-serif !important;
    margin-bottom: 10px;
  }
}

.div_faq{
  width: 390px;
  max-height: 685px;
  overflow-y: scroll!important;

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 60px;
  }
  
  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #d8d8d8; 
    border-radius: 60px;
  }
  
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    opacity: 0.8;
  }
}


.accordions{
  margin:0 auto;
}
.accordion-item{
  & input{
    display:none;
  }
  & label{
    display: block;
    cursor: pointer;
    padding: 5px 8px;
    color: #656565;
  }
}

[id^=accordion]:checked ~ .accordion-content {
  height: 100%;
  transition: 1s all linear;
}

.close:hover, .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1!important;
}
.accordion-content{
  height: 0px;
  overflow: hidden;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  & p{
    line-height: 1.5em;
    font-weight: 400;
    margin-bottom: 8px!important;
    font-family: 'Roboto Condensed', sans-serif !important;
  }
}