.modal {
  background-color: rgba(0, 0, 0, 0.50);

  & .modal-content {
    background-color: #F2F2F2;
    box-shadow: rgba(0, 0, 0, 0.56) 0 33px 66px;
  }

  & .modal-header {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 0;
    padding-bottom: 0;

    & .close {
      display: block;
    }

    /*& .btn-close {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: transparent;
      border: none;
      box-shadow: none;
      text-transform: uppercase;
      color: #888;
      font-size: 20px;
    }*/
  } 

  & .msg-header {
    color: #000000;
    font-size: 18px;
    text-align: center;
  }

  & .modal-footer {
    border-top: 0;
    text-align: center;
  }

  & .btn {
    min-width: 148px;
  }

  & .form-item-linha .btn  {
    min-width: auto;
  }
  & textarea {
    width: 90%;
    border-radius: 4px;
    height: 100px;
    padding: 10px;
  }
  & .bt-x-grande button {
    width: 250px !important;
  } 

  & .modalFAQ-body {
    & img {
      width: 100%;
      height: auto;
    }
  }
}

#modalValidarCTRE {
  & textarea {
    width: 100%;
  }
}
