section#painel-fiscal {

  & .conteudo {

    & .box-rastreio-relacao-ctre {
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;

      & .linha {
        display: flex;
        width: 100%;
        background-color: #fff;
        overflow: hidden;

        //Não na primeira linha
        &:not(:first-of-type) {
          align-items: center;
          min-height: 40px;

          &.inconsistencia {
            //background-color: #fd5e4a;
            //text-shadow: 1px 1px 5px rgba(193, 193, 193, 0.65);

            & .column {
              color: #000;

              &:first-of-type {

                & p {
                  background-color: #C93E3E;
                  color: #fff;
                }
              }
            }
          }

          &:hover {
            background-color: #f2f2f2;
          }

          & .column {
            height: 100%;
            display: flex;
            align-items: center;

            &:first-of-type {
              justify-content: flex-end;
              padding: 0 10px;
            }
          }
        }

        @linhaBorderRadius: 8px;

        &:first-of-type {
          border-top-left-radius: @linhaBorderRadius;
          border-top-right-radius: @linhaBorderRadius;
        }

        &:last-of-type {
          border-bottom-left-radius: @linhaBorderRadius;
          border-bottom-right-radius: @linhaBorderRadius;
        }

        &:nth-child(2),
        &:nth-child(3) {

          & .column {
            justify-content: center;

            & .nome {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }
          }
        }

        & .column {
          width: 33%;
          color: #808080;
          font-size: 14px;
          line-height: normal;
          overflow: hidden;

          //Somenta na primeira coluna
          &:first-of-type {
            width: 195px;
            text-align: right;
            text-transform: uppercase;
            //background-color: #dbdbdb;
            //font-weight: bold;
            color: #000;
            flex-shrink: 0;
            margin-right: 10px;

            & p {
              margin: 0;
              padding: 3px 5px;
              border-radius: 4px;
              display: inline-block;
            }

            & .nome {
              text-align: center;
            }
          }

          & .box-tempo {
            width: 100%;
            height: 100%;
            background-color: #ffa629;
            font-size: 14px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 0; //remover

            & .tempo {
              font-size: 22px;
              color: #FFF;
              padding-top: 0; //remover
            }

            & .tempo-texto {
              color: @rastreabilidade-tempo-texto;
              line-height: 16px;
            }

            & .expirado {
              background-color: @expirado-background;
            }

            & .finalizado {
              background-color: @finalizado-background;
            }
          }

          &.box-rastreio-gg {

            & .imagem {
              background: url(../images/status_gerador.png) no-repeat center right;
            }
          }

          &.box-rastreio-tr {

            & .imagem {
              background: url('../images/status_transporte.png') no-repeat center right;
            }
          }

          &.box-rastreio-df {

            & .imagem {
              background: url('../images/status_destino.png') no-repeat center right;
            }
          }

          & .imagem {
            width: 91px;
            height: 91px;
            margin: 15px auto 0;
            background-size: cover !important; //revisar
            flex-shrink: 0;
          }

          & .titulo {
            font-size: 18px;
            font-weight: bold;
            margin: 14px 0;
          }

          & .validacao {

            &.validado,
            &.pendente,
            &.aguardando {
              text-transform: uppercase;
              color: #FFF;
              background-color: @rast-status-validacao-background;
              border-radius: 2px;
              width: 110px;
              height: 20px;
              margin: 0 auto;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &.validado {
              background-color: @rast-status-validado-background;
            }

            &.pendente {
              background-color: @rast-status-pendente-background;
            }

            &.aguardando {
              background-color: @rast-status-aguardando-background;
            }
          }

          //Não na primeira coluna
          &:not(:first-of-type) {
            text-align: center;
            padding: 8px 5px;

            & .nome {
              font-size: 17px;
              color: @rast-status-nome-color;
            }

            & .titulo {
              text-transform: uppercase;
              margin: 0;
              color: #333;
            }

            & .nr-amlurb {
              font-size: 15px;
              color: @rast-status-id-color;
            }
          }
        }
      }
    }

    & .table {

      & .editarRegistro,
      & .excluirRegistro {
        text-decoration: none;
        cursor: pointer;
        display: flex;
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        font-size: 15px;
      }

      & .editarRegistro {
        color: #ae121e;
      }

      & .excluirRegistro {
        color: #313131;
      }
    }
    & .sorting{
      background: url(../images/black-unsorted.gif) no-repeat 95% center;
      background-size: 10px;
    }  
  }
}

#modalCadastroPerfil {

}