section.error {
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
  background-image: url(../images/error404.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: left bottom;
  box-sizing: border-box;
  padding-right: 4%;

  & p {
    font-size: 12em;
    line-height: 0.8em;
    color: #FFA52A;
    text-align: right;
    font-weight: 100;

    &:first-of-type {
      font-size: 33px;
      color: #ccc;
      margin-right: 0.35em;
      font-weight: 400;
      line-height: 1.3em;
    }

    &:last-of-type {
      font-size: 28px;
      color: #ccc;
      margin-right: 0.9em;
      font-weight: 400;
      margin-top: 37px;
    }
  }
}