*:focus {
  outline: none !important;
}

.dashboard-fiscal {
  margin: 20px 0;
}

section#painel-gerador, section#painel-transportador, section#painel-destino-final, section#painel-fiscal, section#painel-pequeno-gerador {
  position: relative;

  & .menu-lateral {
    background-color: @menu-lateral-cadastro-background;
    min-height: 100%;
    position: relative; 

    & .logo-ctre-menu {
      margin: 19px auto;
      display: block;
      max-width: 100%;
      padding: 0 15px;
    }

    & .user {
      width: 100%;
      min-height: 80px;
      display: block;
      margin-top: 44px;
      overflow: hidden;

      & .img-user {
        background: url('../images/user.png') center center no-repeat;
        background-size: cover;
        width: 77px;
        height: 77px;
        float: left;
        margin-left: 6px;
      }

      & .inf-user {
        width: 132px;
        float: left;
        padding: 17px 0 0 10px;
        word-wrap: break-word;

        & p {
          color: #FFF;
          font-size: 16px;
          margin: 0;
        }

        & span {
          font-size: 14px;
          font-weight: 300;
          color: #FFF;
        }
      }

    }

    & .nav, .nav-pills {
      margin-top: 35px;
      position: relative;
      z-index: 99999;

      & li {

        & .drop-ativo {
          background-color: @menu-lateral-gerador;
        }

        & a {
          color: #FFFFFF;

          &:hover {
            background-color: @menu-lateral-gerador;
          }

          &:focus {
            background: none;
            outline: none;
            border-color: transparent;
          }

          & i {
            background: url("../images/ico-painel-de-controle.png") center center no-repeat;
            width: 25px;
            height: 24px;
            background-size: cover;
            display: block;
            float: left;
            margin-right: 15px;
          }

          & .emissao-ctr {
            background: url("../images/ico-emissao-ctr.png") center center no-repeat;
          }

          & .cadastro-geradores {
            background: url("../images/ico-cadastro-geradores.png") center center no-repeat;
          }

          & .cadastro-internos {
            background: url("../images/ico_cadastros_internos.png") center center no-repeat;
          }

          & .icon-clientes-fornecedores {
            background: url("../images/icon-clientes-fornecedores.png") center center no-repeat;
          }

          & .icon-meus-equipamentos-internos {
            background: url("../images/icon-meus-equipamentos-internos.png") center center no-repeat;
          }

          & .cadastro-externos {
            background: url("../images/ico_cadastros_externos.png") center center no-repeat;
          }

          & .faq {
            background: url("../images/ico_faq.png") center center no-repeat;
          }

          & .cadastro-transportadores {
            background: url("../images/ico-cadastro-transportador.png") center center no-repeat;
          }

          & .cadastro-destinos-finais {
            background: url("../images/ico-cadastro-destinos-finais.png") center center no-repeat;
          }

          & .cadastro-residuos {
            background: url("../images/ico-cadastro-padro.png") center center no-repeat;
          }

          & .rastreabilidade {
            background: url("../images/ico-rastreabilidade.png") center center no-repeat;
          }

          & .veiculos {
            background: url("../images/ico-menu-veiculos.png") center center no-repeat;
          }

          & .equipamentos {
            background: url("../images/ico-equipamento-veiculo.png") center center no-repeat;
          }

          & .pagamentos {
            background: url("../images/ico_pagamentos.png") center center no-repeat;
          }

          & .configuracoes {
            background: url("../images/ico-config.png") center center no-repeat;
          }

          & .icon-meu-cadastro {
            background: url("../images/icon-meu-cadastro.png") center center no-repeat;
          }

          & .logout {
            background: url("../images/logout.png") center center no-repeat;
          }

          & .pequenos-geradores {
            background: url("../images/ico-pequeno-gerador.png") center center no-repeat;
          }

          & .grandes-geradores {
            background: url("../images/ico-grande-gerador.png") center center no-repeat;
          }

          & .gerador-mistos {
            background: url("../images/ico-condominio-misto.png") center center no-repeat;
            background-size: 24px;
          }

          & .destinos-finais {
            background: url("../images/ico-destino-final.png") center center no-repeat;
          }

          & .cooperativas {
            background: url("../images/ico-cooperativa.png") center center no-repeat;
          }

          & .transbordos {
            background: url("../images/ico-transbordo.png") center center no-repeat;
          }

          & .servicoSaude {
            background: url("../images/ico-servicoSaude.png") center center no-repeat;
            background-size: cover;
          }

          & .orgaoPublico {
            background: url("../images/ico-orgaosPublicos.png") center center no-repeat;
            background-size: cover;
          }

          & .transporte {
            background: url("../images/ico-transbordo.png") center center no-repeat;
          }

          & .transportadorres {
            background: url("../images/ico-transportadorres.png") center center no-repeat;
          }

          & .residuo {
            background: url("../images/ico-cad-residuos.png") center center no-repeat;
          }

          & .aprovacao-cadastro {
            background: url("../images/ico-aprova-cadastro.png") center center no-repeat;
          }

          & .chat {
            background: url("../images/ico_chat.png") center center no-repeat;
          }
        }
      }

      & .active {
        background-color: @menu-lateral-gerador;
      }
    }
  }

  & .conteudo {
    position: relative;
    display: block;
    float: left;
    height: 100%;
    min-height: 765px;
    width: 100%;
    background-color: @conteudo-gerador-background;

    & .faq-list ul li,
      .faq-list ul a {
        color: #000000;
      }

    & .dados-empresa, .documentosEmpresa, .informacoesEmpresa {
      padding: 20px 10px;
      & .container-nr-amlurb {
        &  input {
          border: none;
          box-shadow: none;
          background-color: transparent !important;
          font-size: 18px;
          font-weight: 600;
          color: #a9a9a9;
        }
      & div {
          float: left;
          position: relative;
          width: 48%;
          background-color: #ffffff;
          border-radius: 3px;
          border: solid 1px #ddd;
          padding: 10px 0;
          margin-bottom: 10px;
          &:last-of-type {
            float: right;
          }
        }
      } 
      & label {
        font-weight: normal;
        font-size: 15.5px;
      }
      & .modal-bts-center .modal-bts-center__externo {
        width: 290px;
      }
    }
    & .documentosEmpresa {
      & input {
        border: solid 1px #52B35B !important;
      }
    }
    & h1 {
      font-size: 25px;
      color: #FFF;
      text-transform: uppercase;
      padding: 28px 0 25px 23px;
      background-color: @titulo-gerador-background;

      & span {
        font-size: 20px;
        margin-left: 10px;
        color: #f5f5f5;
        text-transform: none;
        font-weight: 300;
      }

      .conteudo__validade {
        float: right;
        margin-right: 10px;
        font-size: 16px;
        margin-top: 8px;
      }
    }

    & h2 {
      font-size: 18px;
      text-transform: uppercase;
      color: @subtitulo-cadastro-color;
      font-weight: bold;
      margin-top: 22px;

      & span {
        font-weight: 300;
        font-size: 14px;
      }
    }
    & h3 {
      color: #9D9D9D;
      font-size: 16px;
      margin-top: 0;
      font-weight: 600;
    }
    & .ctre-vs-validacao-div {
      background-color: #eee;
      opacity: 1;
    }
    & .table-status-validacao {
      background-color: #808080;
      color: #ffffff;
      font-weight: 600;
      padding: 1px 4px;
      border-radius: 3px;
      font-size: 12px;
      margin: 0 2px;
    }
    & .table-status-validacao__t {
      background-color: #C93E3E;
    }
    & .table-status-validacao__g {
      background-color: #008F52;
    }
    & .table-status-validacao__d {
      background-color: #056793;
    }
    & .table-status-validar,
    .btn-restore {
      background-color: #FFA629;
      color: #ffffff;
      text-transform: uppercase;
      padding: 3px 5px;
      font-size: 11px;
      border-radius: 3px;

      .transitionHover(@titulo-cadastro-background, 12);

      &:hover,
      &:focus {
        text-decoration: none;

      }
    }
    & .btn-restore {
      height: auto;
    }

    & .cadastro-gerador {

      & .nav {
        margin-top: 5px;
      }
    }

    & .indicadores-gerador, .indicadores-tr, .indicadores-df, .indicadores-fs, .indicadores-fs-cad-gg {
      width: 100%;
      height: 376px;
      //background-color: @indicador-gerador-background;
      background-image: linear-gradient(to bottom, #00a295, #00a0ac);

      & .box-indicador {
        margin: 39px auto 0;
        height: 236px;
        position: relative;
        width: 121px;

        & .image-indicador {
          background-size: cover;
          width: 94px;
          height: 94px;
          margin: 0 auto;
          display: block;
        }

        & .total-emitido {
          background: url("../images/indica-total-emitido.png") center center no-repeat;
        }

        & .total-aberto {
          background: url("../images/indica-total-aberto.png") center center no-repeat;
        }

        & .total-finalizados {
          background: url("../images/indica-total-finalizados.png") center center no-repeat;
        }

        & .total-expirados {
          background: url("../images/indica-total-expirados.png") center center no-repeat;
        }

        & .total-finalizados-expirados {
          background: url("../images/truck_degrade.png") center center no-repeat;
        }

        & .corpo-indicador {

          & .contador {
            font-size: 46px;
            color: #FFF;
            text-align: center;
          }

          & .titulo-indicador {
            font-size: 19px;
            color: #000;
            text-transform: uppercase;
            font-weight: 500;
            text-align: center;
            line-height: 24px;
          }

          & .diviser {
            border-bottom: 9px solid #008e52;
            border-radius: 6px;
            margin-top: 18px;
          }
        }
      }
    }

    & .indicadores-tr, .indicadores-gerador, .indicadores-df {
      & .titulo-indicador__indicadores-ctre {
        background: url("../images/titulo_ctre_emit_receb.png") center center no-repeat;
        background-size: auto;
        width: 300px;
        height: 55px;
      }
      & .nav {
        width: auto;
        float: right;
      }
    }

    & .opcao-indicador-periodo {
      color: #ffffff;
      font-size: 17px;
      text-transform: capitalize;
      padding: 2px 11px;
      &:hover,
      &:focus {
        // background-color: #009053;
      }
    }

    & .active .opcao-indicador-periodo {
      // background-color: #009053;
    }

    & .indicadores-periodo {
      min-height: 286px;
      background: @indicadores-periodo-background;
      padding-top: 26px;

      & .nav-indicadores-periodo {
        width: auto;
        float: right;

        & li {
          border-radius: 4px;
          margin: 0 14px;
          & .opcao-indicador-periodo {
            color: #5d5d5d;
            font-size: 18px;
            text-transform: capitalize;
            padding: 0;
          }

          &:hover,
          &:focus,
          &.active {

          // background-color: #C93E3E;
            // color: #ffffff;
            & > a {
              // background-color: #C93E3E;
              // color: #ffffff;
              font-weight: bold;
            }
          }
        }

        & .active {

          & a {
            //border-bottom: 3px solid @titulo-tr-background;
          }
        }
      }

      & .titulo-indicador {
        background: url("../images/titulo_cadastros_periodo.png") center center no-repeat;
        background-size: cover;
        background-size: auto;
        width: 287px;
        height: 55px;
      }

      .box-indicador-periodo {
        margin-top: 42px;

        & .indicador-grande-gerador,
        .indicador-pequeno-gerador,
        .indicador-transportador,
        .indicador-destino-final,
        .indicador-cooperativa,
        .indicador-ecoponto,
        .indicador-equipamento,
        .indicador-veiculo,
        .indicador-transbordo,
        .indicador-pev {
          background: url("../images/indica-grande-gerador.png") center center no-repeat;
          background-size: cover;
          width: 75px;
          height: 75px;
          display: block;
          margin: 14px auto;
        }

        & .indicador-pequeno-gerador {
          background: url("../images/indica-pequeno-gerador.png") center center no-repeat;
        }

        & .indicador-transportador {
          background: url("../images/indica-transportador.png") center center no-repeat;
        }

        & .indicador-destino-final {
          background: url("../images/indica-destino-final.png") center center no-repeat;
        }

        & .indicador-cooperativa {
          background: url("../images/indica-cooperativa.png") center center no-repeat;
        }
        & .indicador-servico-saude {
          background: url("../images/ico-servico-saude.png") center center no-repeat;
        }
        & .indicador-orgao-publico {
          background: url("../images/indica-cooperativa.png") center center no-repeat;
        }

        & .indicador-ecoponto {
          background: url("../images/indica-ecoponto.png") center center no-repeat;
        }

        & .indicador-veiculo {
          background: url("../images/indica-veiculos.png") center center no-repeat;
        }

        & .indicador-equipamento {
          background: url("../images/indica-equipamentos.png") center center no-repeat;
        }

        & .indicador-pev {
          background: url("../images/indica-pev.png") center center no-repeat;
        }

        & .indicador-total {
          font-size: 42px;
          color: @indicadores-periodo-total;
          text-align: left;

          &:after {
            content: " ";
            border: 3px solid @titulo-tr-background;
            border-radius: 6px;
            display: block;
            width: 100%;
            margin-top: -15px;
          }

        }

        & .indicador-nome {
          font-size: 14px;
          color: #000;
          text-transform: uppercase;
        }

      }

    }

    & .box-emitidas-recebidas {
      margin: 30px 0 20px;

      & .titulo-indicador__emitidas-recebidas {
        background: url("../images/titulo_ctre_emit_receb.png") center center no-repeat;
        background-size: auto;
        width: 305px;
        height: 55px;
      }

      & .btn-emitir-ctre {
        background-color: #FFA52A;
        color: #fff;
        border: none;
        text-transform: uppercase;
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
        float: right;
        margin-top: 13px;
        .transitionHover(@titulo-cadastro-background, 12);
        .retiraFocusDefault();
      }
    }

      & .tituloIndicador {
        background-color: #009053;
        width: auto;
        float: left;
        position: relative;
        padding: 6px 20px 6px 58px;
        color: #fff;
        text-transform: uppercase;
        line-height: 40px;
        font-size: 18px;
        border-radius: 40px;
        font-weight: 100;
      }
      & .tituloIndicador__ctre, .tituloIndicador__emitir , .tituloIndicador__cadastro {
        background-image: url("../images/ico-ctr-titulo.png");
        background-repeat: no-repeat;
        background-size: auto;
        background-position: 7px center;
      }
      & .tituloIndicador__emitir {
        background-image: url("../images/ico-emitir-titulo.png");
      }
      & .tituloIndicador__cadastro {
        background-image: url("../images/ico-cadastro-titulo.png");
      }
      
    & .dashboard-gerador,
    & .dashboard-transportador,
    & .dashboard-destino-final, 
    & .dashboard-fiscal {
      float: left;
      margin-bottom: 40px;

      & .balanco-periodo,
      & .lancamentos-ctre {
        min-height: 394px;
        margin-top: 29px;

        & .titulo-dashboard {
          background: url("../images/titulo-balanco-por-periodo.png") center center no-repeat;
          background-size: cover;
          width: 263px;
          height: 55px;
        }

        & .form-group {
          margin-top: 38px;
          margin-bottom: 0;

          & label {
            font-size: 14px;
            font-weight: 300;
            color: #000;
          }

          & .input-group {

            & .form-control {
              background: transparent;
              border: none;
              box-shadow: none;
              border-bottom: 2px solid #008e52;
              border-radius: 0;
            }

            & .input-group-addon {
              background-color: transparent;
              border: none;
              border-bottom: 2px solid #008e52;
              box-shadow: none;
              border-radius: 0;

              & i {
                background: url("../images/ico-data.png") center center no-repeat;
                background-size: cover;
                width: 19px;
                height: 20px;
                display: block;
              }

            }

            & .input-search {
              width: 70%;
            }
          }
        }

        & .dashboard-table {
          background-color: #cbcbcb;
          height: 340px;
          margin-top: 43px;
          border-radius: 18px;

          & .table-dashboard {
            background: #cbcbcb;
            border-radius: 15px;
            float: left;

            & thead {
              padding: 5px;
              border-bottom: 3px solid #FFF;

              & th {
                padding: 4px 10px;
                font-size: 17px;
                font-weight: bold;
                text-transform: uppercase;
              }
            }

            & tbody {

              & tr {

                &:nth-of-type(odd) {
                  background: #b3b3b3;
                }

                & td {
                  padding: 5px;
                }
              }
            }
          }
        }
      }

      & .balanco-periodo {

        & .grafico {
          height: 191px;
          margin: 15px 0;
        }

        & .form-group {

          & label {
            margin-bottom: none;
          }

        }

      }

      & .lancamentos-ctre {

        & .titulo-dashboard {
          background: url("../images/titulo-lancamentos-ctr-e.png") center center no-repeat;
        }

      }

    }

    & .box-configuracoes {

      & .btn-equipamento, .btn-veiculo, .btn-gerador, .btn-destino {
        display: block;
        margin: 0 auto 15px;
        background-color: @btn-equipamento-background;
        color: #FFF;
        text-transform: uppercase;
        .transitionHover(@titulo-cadastro-background, 12);

        .retiraFocusDefault();
      }

      & .btn-delete {
        background: transparent;
        color: @excluir-registro;
        border: none;
        font-size: 1px;
        font-weight: bold;
        padding: 1px 3px;
        float: left;
        height: auto;

        .retiraFocusDefault();

      }

      & .table {
        background-color: #FFF;
        border-radius: 5px;

        & thead {
          
          & th {
            border: none;
          }

        }

        & tbody {
          background-color: #ffffff;

          & tr {

            & td {
              border: none;
              padding: 5px; 
              color: #555;
              /*& .table-status-validacao {
                background-color: #808080;
                color: #ffffff;
                font-weight: 600;
                padding: 1px 4px;
                border-radius: 3px;
                font-size: 12px;
              }
              & .table-status-validacao__t {
                background-color: #C93E3E;
              }
              & .table-status-validacao__g {
                background-color: #008F52;
              }
              & .table-status-validacao__d {
                background-color: #056793;
              }
              & .table-status-validar {
                background-color: #FFA629;
                color: #ffffff;
                text-transform: uppercase;
                padding: 3px 5px;
                font-size: 11px;
                border-radius: 3px;

                .transitionHover(@titulo-cadastro-background, 12);

                &:hover,
                &:focus {
                  text-decoration: none;

                }
              }*/
            }
            &:hover {
              background-color: #E0E0E0;
              cursor: pointer;
            }
          }

        }

      }

    }

    & .box-vinculos, .box-ctre, .box-rastreabilidade {

      & .form-group {

        & legend {
          font-size: 14px;
          font-weight: bold;
          color: #000;
          margin-bottom: 5px;
          border-bottom: 0;
        }

        & .form-check {
          padding-left: 0;
        }

        & .alert-danger {
          padding: 2px 1px;
          margin: 0;
        }

        & .text-danger {
          float: left;
        }

        & .form-control {
          height: 38px;
          background-color: #FFF;
          border-radius: 4px;
          border: none;

          .retiraFocusDefault();
        }

        & #residuos_chosen {
          width: 88% !important;
        }

        & .chosen-container {
          & .chosen-single {
            height: 35px;
            border: none;
            padding: 6px 0 0 8px;
            background: #FFF !important;

            & div {
              padding-top: 8px;
            }

            & span {
              font-size: 16px;
              color: #999;
            }
          }

          & .chosen-drop {
            border: 1px solid @titulo-gerador-background;
            border-top: none;
          }

          & .chosen-results {
            & .highlighted {
              background-color: @titulo-gerador-background;
              background-image: linear-gradient(@titulo-gerador-background 20%, @titulo-gerador-background 90%);
            }
          }

        }

        & .label-equipamento {
          float: left;
          width: 100%;
        }

        & #equipamentos_vinculo_chosen {
          width: 251px !important;
          float: left;
        }

        & .quantidade {
          width: 94px;
          float: left;
          margin: 0 4px;

          & .input-group {

            & .input-group-btn {

              & .quant-menos, .quant-mais {
                background: @titulo-cadastro-background;
                color: #fff;

                .retiraFocusDefault();
              }

            }

            & #quantidade {
              padding: 0;
              text-align: center;
            }

          }

        }

        & .btn-incluir-equipamento {
          float: left;
          text-transform: uppercase;
          background-color: @titulo-cadastro-background;
          color: #fff;
          padding: 6px;

          .retiraFocusDefault();

        }

        & .btn-incluir {
          width: 11%;
          height: 38px;
          background-color: @titulo-cadastro-background;
          color: #FFF;
          text-transform: uppercase;
          padding: 0;

          .transitionHover(@titulo-cadastro-background);
          .retiraFocusDefault();

        }

        & .acondicionamento {
          margin-left: -15px;
        }

      }

      & .btn-vincular {
        width: 226px;
        height: 38px;
        background-color: @titulo-cadastro-background;
        color: #FFF;
        text-transform: uppercase;
        margin: 28px auto 37px;
        display: block;

        .transitionHover(@titulo-cadastro-background);
        .retiraFocusDefault();
      }

      & #residuos-escolhidos, #equipamentos-escolhidos {
        max-height: 122px;
        height: 122px;
        overflow: auto;
        background: #FFF;
        border-radius: 4px;
        margin-bottom: 12px;

        & .nome-residuo, .nome-equipamento, .qtde-equipamento {
          color: @nome-residuos-color;
        }

        & .excluir-residuo, .excluir-equipamento-vinculo {
          cursor: pointer;
          font-size: 15px;
          font-weight: bold;
          color: @excluir-registro;
        }

      }

      & .acondicionamentos-escolhidos {
        height: 65px !important;
        margin-top: 0 !important;
        width: 100% !important;
      }

      & .table,
      & .table-ctre {

        & thead {

          & th {
            border: none;
          }
        }

        & tbody {
          background: #FFF;

          & .inativo {
            color: @inativo-color;
          }

          & tr {

            & td {
              border: none;
              padding: 0 8px;
              vertical-align: middle;

              & .alert-warning {
                margin: 20px 0;
                text-align: center;
              }
            }
          }

          & .btn-delete {
            background: transparent;
            color: @excluir-registro;
            border: none;
            font-size: 12px;
            font-weight: bold;
            padding: 1px 3px;
            float: left;

            .retiraFocusDefault();

          }

        }

      }

      & .table-ctre {

        & tbody {

          & tr {

            & td {
              color: @registro-tabela-color;
              padding: 3px 0;

              & .btn-validar, .btn-validar-ok {
                width: 100px;
                height: 30px;
                background: @titulo-cadastro-background;
                color: #FFF;
                text-transform: uppercase;
                padding: 0;

                .retiraFocusDefault();

              }

              & .btn-validar-ok {
                background-color: @btn-validado-color;
              }
            }

          }

        }

      }

      & .table-rastreabilidade {

        & tbody {

          & tr {

            & td {
              padding: 3px 8px;
            }

          }

        }

      }

      & .btn-emitir-ctre, .btn-emitir-ctre-df {
        width: 210px;
        height: 40px;
        background: @titulo-cadastro-background;
        color: #FFF;
        text-transform: uppercase;
        margin-top: 15px;
        float: right;

        .retiraFocusDefault();
      }

      & .btn-emitir-ctre-df {
        margin-top: 27px;
        float: none;
      }
    }

    & .box-rastreabilidade {

      & .diviser {
        border-bottom: 1px solid #5D5D5D;
      }

      & .table-rastreabilidade {

        & tbody {

          & .drop-ativo {
            background-color: @titulo-gerador-background;
            color: #FFF;
            cursor: pointer;
          }

          & tr {

            &:hover {
              background-color: @titulo-gerador-background;
              color: #FFF;
              cursor: pointer;
            }

            & td {
              border: none;

              & div {
                padding: 4px;
              }

              & .status {
                width: 100px;
                height: 30px;
                text-align: center;
                padding: 5px 0;
                text-transform: uppercase;
                color: #FFF;
                border-radius: 4px;
              }

              & .status-aberto {
                background: #FFC619;
              }

              & .status-finalizado {
                background: #3EB816;
              }

              & .status-expirado {
                background: #FF4B33;
              }

            }

          }

        }

      }

      & .img-rastreabilidade {
        margin: 30px auto;
        width: 100%;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
        display: block;
        height: 117px;
      }

      & .form-group {

        & .acondicionamentos-rastreio {
          background: #FFF;
          height: 118px;
          border-radius: 4px;
          overflow: auto;
        }

      }

      & .alert {
        text-align: center;
        padding: 25px;
        font-size: 20px;
      }

    }

    & .box-ctre {

      & .form-group {

        & label {

          & span {
            font-size: 12px;

            &.obrigatorio {
              color: @titulo-cadastro-background;
              font-size: 18px;
            }
          }
        }

        & #equipamentos_vinculo_chosen {
          width: 100% !important;
        }
      }
    }

    & .box-mensagem {
      margin-top: 30px;
    }

    & .box-vinculos {

      & .form-group {
        margin-bottom: 18px;

        & label {
          font-size: 18px;
          color: #000;
          margin: 0;
          font-weight: 500;

          & span {
            font-size: 12px;

            &.obrigatorio {
              color: @titulo-cadastro-background;
              font-size: 18px;
            }
          }
        }
      }

      & legend {

        & span {
          font-size: 12px;

          &.obrigatorio {
            color: @titulo-cadastro-background;
            font-size: 18px;
          }
        }
      }
    }

    & .status {
      width: 100px;
      height: 30px;
      text-align: center;
      padding: 4px 12px;
      text-transform: uppercase;
      color: #FFF;
      border-radius: 4px;
      margin-left: 10px;
    }

    & .status-aberto {
      background: #FFC619;
    }

    & .status-finalizado {
      background: #3EB816;
    }

    & .status-expirado {
      background: #FF4B33;
    }

    & .chat {
      background: @chat-menu-bg;
      border: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      & .navbar-nav{
          width: 100%;
          border-bottom: 1px solid #000;
            & li{
              width: 33%;
              text-align: center;
              & a{
                color: #000!important;
                font-size: 20px;
                &:hover{
                  background-color: transparent;
                }
                &.active{
                  border-bottom: 7px solid #ffa52a;
                }
              }
            }
      }
      & .navbar-header {
          
        & a {
          color: #FFF;
        }

      }

      & .navbar-collapse {

        & .nav {

          & li {

            & .drop-ativo {
              .activeDrop(@chat-menu-bg);
            }

            & a {
              color: #FFF;

              &:hover {
                .transitionHover(@chat-menu-bg);
              }

            }

          }

        }

      }

    }

    & .chat-corpo {

      & .form-group {

        & .form-control {
          font-size: 16px;
          color: #999;
          height: 35px;
          border: none;
          border-radius: 4px;
          background-color: #fff;
        }

        & textarea {
          resize: none;
          height: 150px !important;
        }

        & .chosen-container {
          & .chosen-single {
            height: 35px;
            border: none;
            padding: 6px 0 0 8px;
            background: #FFF !important;

            & div {
              padding-top: 8px;
            }

            & span {
              font-size: 16px;
              color: #999;
            }
          }

          & .chosen-drop {
            border: 1px solid @select-drop-border;
            border-top: none;
          }

          & .chosen-results {
            & .highlighted {
              background-color: @select-drop-background;
              background-image: linear-gradient(#FFA52A 20%, #fcb558 90%);
            }
          }

        }

        & .btn-primary {
          background: @chat-menu-bg;
          border: none;
        }

      }

    }

  }

}

section#painel-transportador {

  & .menu-lateral {
    background-color: @menu-lateral-cadastro-background;

    & .nav, .nav-pills {

      & li {

        & .drop-ativo {
          background-color: @menu-lateral-tr;
        }       
  
        & a {

          &:hover {
            background-color: @menu-lateral-tr;
          }

        }

      }

    }

    & .active {
      background-color: @menu-lateral-tr;
    }

  }

  & .conteudo {

    & h1 {
      background-color: @titulo-tr-background;
    }

    & h2 {
      color: #C93E3E;
    }

    & .faq-list ul li,
      .faq-list ul a {
      &:hover,
      &:focus {
        color: #C93E3E;
        text-decoration: none;
      }
    }

    & .opcao-indicador-periodo {
      &:hover,
      &:focus {
        background-color: #C93E3E;
      }
    }

    & .active .opcao-indicador-periodo {
      background-color: #C93E3E;
    }

    & .dashboard-transportador {

      & .balanco-periodo, .lancamentos-ctre {

        & .titulo-dashboard {
          background: url("../images/titulo-relatorio-tr.png") center center no-repeat;
        }

        & .form-group {

          & .input-group {

            & .form-control {
              border-bottom: 2px solid @titulo-tr-background;
            }

            & .input-group-addon {
              border-bottom: 2px solid @titulo-tr-background;

              & i {
                background: url("../images/ico-data-tr.png") center center no-repeat;
              }

            }

          }

        }

      }

      & .balanco-periodo {

        & .titulo-dashboard {
          background: url("../images/titulo-balanco-por-periodo-tr.png") center center no-repeat;
        }

      }

    }

    & .indicadores-tr {

      & .box-indicador {
        width: 200px;

        & .corpo-indicador {

          & .diviser {
            border-bottom: 9px solid @titulo-tr-background;
            width: 50%;
            margin: 9px auto 0;
            display: block;
          }

        }

      }

    }

    & .box-vinculos, .box-ctre, .box-rastreabilidade {

      & .form-group {

        & .chosen-container {

          & .chosen-drop {
            border: 1px solid @titulo-tr-background;
            border-top: none;
          }

          & .chosen-results {

            & .highlighted {
              background-color: @titulo-tr-background;
              background-image: linear-gradient(@titulo-tr-background 20%, @titulo-tr-background 90%);
            }

          }

        }

      }

    }

    & .box-rastreabilidade {

      & .table-rastreabilidade {

        & tbody {

          & .drop-ativo {
            background-color: @titulo-tr-background;
            color: #FFF;
            cursor: pointer;
          }

          & tr {

            &:hover {
              background-color: @titulo-tr-background;
              color: #FFF;
              cursor: pointer;
            }

            & td {
              border: none;

              & div {
                padding: 4px;
              }

              & .alert {
                padding: 17px;
                text-align: center;
                margin-bottom: 0;
              }

              & .status {
                width: 100px;
                height: 30px;
                text-align: center;
                padding: 5px 0;
                text-transform: uppercase;
                color: #FFF;
                border-radius: 4px;
              }

              & .status-aberto {
                background: #FFC619;
              }

              & .status-finalizado {
                background: #3EB816;
              }

              & .status-expirado {
                background: #FF4B33;
              }

            }

          }

        }

      }

      & .form-group {

        & .acondicionamentos-rastreio {
          background: #FFF;
          height: 118px;
          border-radius: 4px;
          overflow: auto;
        }

      }

    }

    & .status {
      width: 100px;
      height: 30px;
      text-align: center;
      padding: 4px 12px;
      text-transform: uppercase;
      color: #FFF;
      border-radius: 4px;
      margin-left: 10px;
    }

    & .status-aberto {
      background: #FFC619;
    }

    & .status-finalizado {
      background: #3EB816;
    }

    & .status-expirado {
      background: #FF4B33;
    }

    & #arquivos-empresa {

      & h3 {
        font-size: 32px;
        font-weight: bold;
        color: @titulo-tr-background;
      }

      & .form-group {

        & label {
          font-size: 14px;

          & span {
            font-size: 12px;
          }

        }

        & .btn-primary {
          background-color: @titulo-tr-background;
          border-color: @titulo-tr-background;
          color: #FFF;
        }

      }

    }
    & .tituloIndicador {
      background-color: @corModuloTransportador;
    }  
  }
  
 
}

section#painel-destino-final {

  & .menu-lateral {
    background-color: @menu-lateral-cadastro-background;

    & .nav, .nav-pills {

      & li {

        & .drop-ativo {
          background-color: @menu-lateral-df;
        }

        & a {

          &:hover {
            background-color: @menu-lateral-df;
          }

        }

      }

    }

    & .active {
      background-color: @menu-lateral-df;
    }

  }

  & .conteudo {

    & h1 {
      background-color: @titulo-df-background;
    }

    & h2 {
      color: #056793;
    }

    & .tituloIndicador {
        background-color: #056793;
    }

    & .opcao-indicador-periodo {
      &:hover,
      &:focus {
        background-color: #056793;
      }
    }
    /*& .active .opcao-indicador-periodo,
      &:hover,
      &:focus {
      background-color: #056793;
            color: #ffffff;
            & > a {
              background-color: #056793;
              color: #ffffff;
            }
    }*/

    & #indicadores_periodo {
       & .opcao-indicador-periodo {
        color: #056793 !important;
      }
      & .nav-indicadores-periodo li {
      &:hover,
      &:focus {
        
            & > a {
              background-color: #056793;
              color: #ffffff !important;
            }
      }

      }
    }

    & .dashboard-destino-final {

      & .balanco-periodo, .lancamentos-ctre {

        & .titulo-dashboard {
          background: url("../images/titulo-relatorio-df.png") center center no-repeat;
        }

        & .form-group {

          & .input-group {

            & .form-control {
              border-bottom: 2px solid @titulo-df-background;
            }

            & .input-group-addon {
              border-bottom: 2px solid @titulo-df-background;

              & i {
                background: url("../images/ico-data-df.png") center center no-repeat;
              }

            }

          }

        }

      }

      & .balanco-periodo {

        & .titulo-dashboard {
          background: url("../images/titulo-balanco-por-periodo-df.png") center center no-repeat;
        }

      }

    }

    & .indicadores-df {

      & .box-indicador {
        width: 177px;

        & .corpo-indicador {

          & .diviser {
            border-bottom: 9px solid @titulo-df-background;
            width: 50%;
            margin: 9px auto 0;
            display: block;
          }

        }

      }

    }

    & .indicadores-periodo {

      & .nav-indicadores-periodo {

        & .active {
          border-bottom: 3px solid @titulo-df-background;
        }

      }

      & .titulo-indicador {
        background: url("../images/titulo-cadastros-por-periodo-df.png") center center no-repeat;
      }

      & .box-indicador-periodo {

        & .indicador-total {

          &:after {
            content: " ";
            border: 3px solid @titulo-df-background;
            border-radius: 6px;
            display: block;
            width: 100%;
            margin-top: -15px;
          }

        }

      }

    }

    & .box-vinculos, .box-ctre {

      & .form-group {

        & .chosen-container {

          & .chosen-drop {
            border: 1px solid @titulo-df-background;
            border-top: none;
          }

          & .chosen-results {

            & .highlighted {
              background-color: @titulo-df-background;
              background-image: linear-gradient(@titulo-df-background 20%, @titulo-df-background 90%);
            }

          }

        }

      }

    }

    & .box-rastreabilidade {

      & .table-rastreabilidade {

        & tbody {

          & .drop-ativo {
            background-color: @titulo-df-background;
            color: #FFF;
            cursor: pointer;
          }

          & tr {

            &:hover {
              background-color: @titulo-df-background;
              color: #FFF;
              cursor: pointer;
            }

            & td {
              border: none;

              & div {
                padding: 4px;
              }

              & .status {
                width: 100px;
                height: 30px;
                text-align: center;
                padding: 5px 0;
                text-transform: uppercase;
                color: #FFF;
                border-radius: 4px;
              }

              & .status-aberto {
                background: #FFC619;
              }

              & .status-finalizado {
                background: #3EB816;
              }

              & .status-expirado {
                background: #FF4B33;
              }

            }

          }

        }

      }

      & .img-rastreabilidade {
        margin: 30px auto;
      }

      & .form-group {

        & .acondicionamentos-rastreio {
          background: #FFF;
          height: 118px;
          border-radius: 4px;
          overflow: auto;
        }

      }

    }

  }

}

section#painel-fiscal {

  & .menu-lateral {
    background-color: @menu-lateral-cadastro-background;

    & .nav,
    & .nav-pills {

      & li {
        overflow: hidden;

        & .drop-ativo {
          background-color: @menu-lateral-fs;
        }

        & a {

          &:hover {
            background-color: @menu-lateral-fs;
          }
        }
      }

      & .dropdown {

        &.open {
          background-color: #7a7a7a;
        }

        & .dropdown-menu {
          background-color: #7a7a7a;
          width: 100%;
          position: relative;
          box-shadow: none;
          border-radius: 0;
          border: 0;
          padding: 0;
          margin: 0;

          & li {

            & a {
              padding: 10px 10px 10px 30px;
              white-space: normal;
            }
          }
        }
      }
    }

    & .open > a {
      background-color: #7a7a7a;
    }

    & .active {
      background-color: @menu-lateral-fs;
    }
  }

  & .conteudo {

    & h1 {
      background-color: @titulo-fs-background;
    }

    & .busca {
      margin-top: 11px;

      & > input {
        border: none;
        width: 70%;

        .retiraFocusDefault();
      }

      & .input-group-btn {

        & .btn-default {
          border: none;
          height: 36px;
          background: #5d5d5d;
          .retiraFocusDefault();
        }
      }

      & .btn-primary {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: @titulo-cadastro-background;
        border: none;
        height: 36px;
        .retiraFocusDefault();
      }
    }

    & .nav-search {
      margin-top: 14px;

      & li {
        width: 26px;
        height: 26px;

        & a {
          padding: 3px;
          color: @icon-search-active-bg;
          border: none;
          border-radius: 4px;
        }

      }

      & li.active {

        & a {
          background-color: @icon-search-active-bg;
          color: #FFF;
        }

      }

    }

    & .dashboard-fiscal {

      & .balanco-periodo, .lancamentos-ctre {

        & .titulo-dashboard {
          background: url("../images/titulo-relatorio-fs.png") center center no-repeat;
        }

        & .form-group {

          & .input-group {

            & .form-control {
              border-bottom: 2px solid @titulo-fs-background;
            }

            & .input-group-addon {
              border-bottom: 2px solid @titulo-fs-background;

              & i {
                background: url("../images/ico-data-fs.png") center center no-repeat;
              }

            }

          }

        }

      }

      & .balanco-periodo {

        & .titulo-dashboard {
          background: url("../images/titulo-balanco-por-periodo-fs.png") center center no-repeat;
        }

      }

    }

    & .indicadores-fs, .indicadores-fs-cad-gg {

      & .box-indicador {
        width: 100%;
        padding: 40px 0;

        .total-emitido, .total-aberto, .total-finalizados, .total-expirados {
          width: 99px;
          height: 56px;
        }

        & .total-emitido {
          background-image: url('../images/ico-ctr-emitido.png');
        }

        & .total-aberto {
          background-image: url('../images/ico-ctr-aberto.png');
        }

        & .total-finalizados {
          background-image: url('../images/ico-ctr-finalizados.png');
        }

        & .total-expirados {
          background-image: url('../images/ico-ctr-expirados.png');
        }

        & .corpo-indicador {

          & .contador {
            color: @indicadores-fs-totais;
            line-height: 35px;
            padding: 26px 0 19px;
          }

          & .titulo-indicador {
            font-size: 18px;
            margin-top: 8px;
          }

          & .diviser, .diviser-emitido, .diviser-em-aberto, .diviser-finalizado, .diviser-expirado {
            border-bottom: 9px solid @titulo-fs-background;
            width: 50%;
            margin: 0 auto;
            display: block;
          }

          & .diviser-emitido {
            border-bottom: 9px solid @diviser-emitido-background;
            border-radius: 6px;
          }

          & .diviser-em-aberto {
            border-bottom: 9px solid @diviser-em-aberto-background;
            border-radius: 6px;
          }

          & .diviser-finalizado {
            border-bottom: 9px solid @diviser-finalizado-background;
            border-radius: 6px;
          }

          & .diviser-expirado {
            border-bottom: 9px solid @diviser-expirado-background;
            border-radius: 6px;
          }

        }

      }

    }

    & .indicadores-fs {
      width: 100%;
      height: 390px;
      background-image: linear-gradient(to bottom, #dcdcdc, #dadada);

      & .indicadores-ctre-periodo {
        padding-top: 20px;

        & .titulo-indicador {
          background: url("../images/titulo-ctr-por-periodo.png") center center no-repeat;
          background-size: cover;
          width: 218px;
          height: 54px;
        }

        & .nav-indicadores-periodo {
          display: flex;
          justify-content: flex-end;

          & li {
            padding: 0 0 0 5px;

            & a {
              color: #5d5d5d;
              background-color: transparent;
              font-weight: normal;
              border-radius: 0;
              padding: 11px 15px 0;
              font-size: 18px;

              &:hover {
                color: #000;
              }
            }

            & .input-group {
              width: 108px;
              margin: 6px 0 0 9px;

              & .input-group-btn {

                & i {
                  color: #9a9a9a;
                }

                & .btn {
                  outline: none;
                  cursor: auto;
                  padding: 0;
                  background: none;
                  height: 36px;

                  &:active {
                    box-shadow: none;
                  }
                }
              }

              & .form-control {
                width: 90px;
                background: transparent;
                border: none;
                box-shadow: none;
                color: #9a9a9a;
                padding: 0;
                margin-left: 5px;
              }
            }
          }

          & .active {

            & a {
              border-bottom: 3px solid @titulo-fs-background;
              font-weight: bold;
            }
          }
        }

        & .titulo {
          background: url("../images/titulo-cadastros-por-periodo-fs.png") center center no-repeat;
        }

        & .box-indicador-periodo {

          & .indicador-total {

            &:after {
              content: " ";
              border: 3px solid @titulo-fs-background;
              border-radius: 6px;
              display: block;
              width: 100%;
              margin-top: -15px;
            }
          }
        }
      }

      & .box-indicador {
        width: 100%;
        height: 250px;
        background-color: #FFF;
        border-radius: 15px;
        margin-top: 32px;
        box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.25);
      }
    }

    & .indicadores-fs-cad-gg {
      background: #FFFFFF;
      min-height: 330px;

      & h3 {
        font-size: 18px;
        font-weight: bold;
        color: @titulo-cadastro-background;
        text-transform: uppercase;
        margin: 27px 0 0;
      }

      & .box-indicador {

        & .corpo-indicador {

          & .contador {
            color: #000;
          }
        }
      }

      & .nav-indicadores-periodo {
        margin-top: 11px;
        display: flex;
        justify-content: flex-end;

        & li {
          padding: 0 0 0 10px;

          & a {
            color: @indicadores-periodo-links;
            background-color: transparent;
            font-weight: normal;
            border-radius: 0;
            padding: 11px 15px 0;
            font-size: 18px;
          }
        }

        & .active {

          & a {
            border-bottom: 3px solid @titulo-fs-background;
            font-weight: bold;
          }
        }
      }
    }

    & .indicadores-periodo {
      padding-bottom: 30px;

      & .nav-indicadores-periodo {
        display: flex;
        justify-content: flex-end;
        margin-top: 18px;

        & li {
          padding: 0 0 0 5px;
        }

        & .active {

          & a {
            border-bottom: 3px solid @titulo-fs-background;
            font-weight: bold;
          }
        }

        & .input-group {
          width: 108px;
          margin: 0;

          & .input-group-btn {

            & i {
              color: #9a9a9a;
            }

            & .btn {
              height: 36px;
              outline: none;
              cursor: auto;
              padding: 0;
              background: none;
            }
          }

          & .form-control {
            width: 90px;
            background: transparent;
            border: none;
            box-shadow: none;
            color: #9a9a9a;
            padding: 0;
            margin-left: 5px;
          }
        }
      }

      & .titulo-indicador {
        background: url("../images/titulo-cadastros-por-periodo-fs.png") center center no-repeat;
      }

      & .titulo-diario-oficial {
        background: url("../images/titulo-envio-novos-cadastros-diario-oficial.png") center center no-repeat;
        width: 460px;
        height: 55px;
      }

      & .box-indicador-periodo {
        min-height: 190px;
        background-color: #FFF;
        border-radius: 15px;
        box-shadow: 0 6px 25px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;

        & .indicador-grande-gerador {
          background: url("../images/ico-gg-fiscal.png") center center no-repeat;
        }

        & .indicador-pequeno-gerador {
          background: url("../images/ico-pg-fiscal.png") center center no-repeat;
        }

        & .indicador-transportador {
          background: url("../images/ico-transportadores-fiscal.png") center center no-repeat;
        }

        & .indicador-destino-final {
          background: url("../images/ico-df-fiscal.png") center center no-repeat;
        }

        & .indicador-cooperativa {
          background: url("../images/ico-cooperativas-fiscal.png") center center no-repeat;
        }
        & .indicador-servico-saude {
          background: url("../images/ico-servico-saude.png") center center no-repeat;
          width: 70px;
          height: 70px;
          border-radius: 60px;
          background-size: contain;
          margin-top: 20px;
        }

        & .indicador-orgao-publico {
          background: url("../images/ico-orgao-publico.png") center center no-repeat;
          width: 70px;
          height: 70px;
          border-radius: 60px;
          background-size: contain;
          margin-top: 20px;
        }

        & .indicador-ecoponto {
          background: url("../images/ico-ecoponto-fiscal.png") center center no-repeat;
        }

        & .indicador-veiculo {
          background: url("../images/ico-veiculos-fiscal.png") center center no-repeat;
        }

        & .indicador-equipamento {
          background: url("../images/ico-equip-fiscal.png") center center no-repeat;
        }

        & .indicador-transbordo {
          background: url("../images/ico-transbordo-fiscal.png") center center no-repeat;
        }

        & .indicador-total, .indicador-total-vencido {
          font-size: 32px;
          text-align: right;
          color: #5d5d5d;

          &:after {
            border: none;
          }
        }

        & .indicador-total {
          margin-top: 11px;
        }

        & .indicador-total-vencido {
          line-height: normal;
        }

        & .indicador-nome {
          font-size: 11px;
          text-align: right;
          margin-top: 12px;
          color: #5d5d5d;

          &:after {
            content: " ";
            border: 2px solid @titulo-fs-background;
            border-radius: 6px;
            display: block;
            width: 100%;
            //margin-top: -15px;
          }

        }

        & .indicador-vencido {
          font-size: 11px;
          text-align: right;
          text-transform: uppercase;
          color: #5d5d5d;
        }

        & .titulo-box-indicador {
          height: 30px;
          background: #f60;
          margin-top: 25px;
          text-transform: uppercase;
          padding: 6px 13px;
          color: #FFF;
        }

        & .titulo-gg {
          background-color: @titulo-box-indicador-gg;
        }

        & .titulo-peq-gg {
          background-color: @titulo-box-indicador-pg;
        }

        & .titulo-tr {
          background-color: @titulo-box-indicador-tr;
        }

        & .titulo-df {
          background-color: @titulo-box-indicador-df;
        }

        & .titulo-cr {
          background-color: @titulo-box-indicador-cr;
        }

        & .titulo-ss {
          background-color: #0082a1;
        }

        & .titulo-op {
          background-color: @titulo-box-indicador-cr;
        }

        & .titulo-tb {
          background-color: @titulo-box-indicador-tb;
        }

        & .titulo-vl {
          background-color: @titulo-box-indicador-vl;
        }

        & .titulo-eq {
          background-color: @titulo-box-indicador-eq;
        }

        & .titulo-ec {
          background-color: @titulo-box-indicador-ec;
        }

        & .titulo-gg {
          background-color: @titulo-box-indicador-gg;
        }
      }
    }

    & .box-vinculos, .box-ctre, .box-rastreabilidade {

      & .form-group {

        & .chosen-container {

          & .chosen-drop {
            border: 1px solid @titulo-fs-background;
            border-top: none;
          }

          & .chosen-results {

            & .highlighted {
              background-color: @titulo-fs-background;
              background-image: linear-gradient(@titulo-fs-background 20%, @titulo-fs-background 90%);
            }
          }
        }
      }
    }

    & .box-rastreabilidade {

      & .table-rastreabilidade {

        & tbody {

          & .drop-ativo {
            background-color: @titulo-fs-background;
            color: #FFF;
            cursor: pointer;
          }

          & tr {

            &:hover {
              background-color: #e0e0e0;
              color: #FFF;
              cursor: pointer;
            }

            & td {
              border: none;

              & div {
                padding: 4px;
              }

              & .alert {
                padding: 17px;
                text-align: center;
                margin-bottom: 0;
              }

              & .status {
                width: 100px;
                height: 30px;
                text-align: center;
                padding: 5px 0;
                text-transform: uppercase;
                color: #FFF;
                border-radius: 4px;
              }

              & .status-aberto {
                background: @status-aberto;
              }

              & .status-finalizado {
                background: @status-finalizado;
              }

              & .status-expirado {
                background: @status-expirado;
              }

              & .rastreio-neutro, .rastreio-gg, .rastreio-tr, .rastreio-df {
                background-color: @status-neutro;
                color: #fff;
                width: 20px;
                height: 20px;
                padding: 0;
                margin: 0 4px;
              }

              & .rastreio-gg {
                background-color: @status-gg;
              }

              & .rastreio-tr {
                background-color: @status-tr;
              }

              & .rastreio-df {
                background-color: @status-df;
              }
            }
          }
        }
      }

      & .form-group {

        & .acondicionamentos-rastreio {
          background: #FFF;
          height: 118px;
          border-radius: 4px;
          overflow: auto;
        }
      }

      & .table-responsive {

        & .dataTables_wrapper {

          & .table {
            width: 100% !important;
          }

          & .dataTables_filter {
            float: right;
            position: absolute;
            top: -37px;
            right: 26px;

            & label {
              font-weight: normal;

              & input {
                height: 36px;
                padding: 6px 12px;
                background-color: #fff;
                border: 1px solid #ccd0d2;
                border-radius: 4px;
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
                transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
                display: inline-block;
                width: auto;
                vertical-align: middle;
                margin-left: 10px;

                &:focus, :hover {
                  outline: none;
                  box-shadow: none;
                }
              }
            }
          }

          & .dataTables_paginate {
            margin-bottom: 32px;

            //
            //& span {
            //
            //  & a {
            //    border: none;
            //    color: @menu-lateral-cadastro-background;
            //    text-decoration: none;
            //    cursor: pointer;
            //    .retiraFocusDefault();
            //  }
            //
            //  & .current {
            //    background-color: @pagination-active-background;
            //    border: none;
            //    color: #FFF;
            //    margin: 0 2px;
            //  }
            //}
          }

          & .dataTables_processing {
            position: absolute;
            top: 0;
            left: 50%;
            width: 30%;
            height: 40px;
            margin-left: -20%;
            margin-top: -40px;
            padding-top: 0;
            text-align: center;
            font-size: 1.2em;
            background: url("../images/logo-loading.gif") no-repeat center center;
            text-indent: 9999px;
          }
        }

        & #cadastro_grandes_geradores,
        & #cadastro_grandes_geradores_search,
        & #cadastro_peq_geradores,
        & #cadastro_peq_geradores_search,
        & #cadastro_cooperativa,
        & #cadastro_cooperativa_search,
        & #cadastro_transportadores,
        & #cadastro_transportadores_search,
        & #cadastro_destinos {
          border-bottom: none;
          
          & tbody {
            & .active_table{
              background-color:@cad-gg-tr-background-hover !important;;
            }
            & tr {
              cursor: pointer;

              &:hover {
                background-color: @cad-gg-tr-background-hover !important;
              }

              & td {
                padding: 3px;

                &.dataTables_empty {
                  padding: 8px 0;
                  text-align: center;
                  font-weight: 300;
                  font-size: 16px;
                }
              }
            }
          }
        }

        & #cadastro_vinculos_geradores, #cadastro_vinculos_transportadores, #cadastro_vinculos_destinos {
          width: 100% !important;
        }
      }
    }

    & #box_status_ctre {

      & .imagem1 {
        width: 100%;
      }
    }

    & .status {
      width: 100px;
      height: 30px;
      text-align: center;
      padding: 4px 12px;
      text-transform: uppercase;
      color: #FFF;
      border-radius: 4px;
      margin-left: 0;
    }

    & .status-aberto {
      background: #FFC619;
    }

    & .status-finalizado {
      background: #3EB816;
    }

    & .status-expirado {
      background: #FF4B33;
    }

    & .box-tempo,
    & .box-inf-ctre {
      height: 119px;
      width: 131px;
      background-color: @rastreabilidade-tempo-background;
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
      font-size: 14px;
      //margin-left: -12px;
      overflow: hidden;
    }

    & .box-tempo {
      text-align: center;

      & .tempo {
        padding-top: 31px;
        font-size: 22px;
        color: #FFF;
      }

      & .tempo-texto {
        color: @rastreabilidade-tempo-texto;
        text-transform: uppercase;
        line-height: 16px;
        padding-top: 7px;
      }
    }

    & .expirado {
      background-color: @expirado-background;
    }

    & .finalizado {
      background-color: @finalizado-background;
    }

    & .box-inf-ctre {
      min-height: 489px;
      background-color: #FFFFFF;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      font-size: 14px;
      color: #333333;
      text-transform: uppercase;
      text-align: right;
      line-height: normal;
      padding-right: 10px;

      & div {
        padding: 11px 0 0;
      }

      & .nome {
        padding-top: 37px;
      }

      & .residuo {
        padding-top: 41px;
      }

      & .acondicionamento, .data {
        padding-top: 51px;
      }

      & .hora-ctre {
        padding-top: 57px;
        height: auto;
      }

      & .quantidade, .placa-veiculo {
        padding-top: 31px;
      }

    }

    & .box-rastreio-fs,
    & .box-rastreio-log {
      height: 270px;
      width: 228px;
      background-color: #FFFFFF;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    & .box-rastreio-log {
      height: 348px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      margin-top: 10px;
      overflow: hidden;
      padding: 8px;

      & div {
        font-size: 16px;
        color: @rast-status-id-color;
        line-height: 22px;
        overflow: hidden;
      }

      & .residuo {
        height: 68px;
      }

      & .acondicionamento {
        height: 68px;
      }

      & .data {
        height: 49px;
      }

      & .hora, .placa-veiculo {
        height: 46px;
      }

      & .quantidade {
        height: 50px;
      }

    }

    & .box-rastreio-fs {

      & .imagem {
        background: url('../images/status_gerador.png') no-repeat center right;
        width: 91px;
        height: 91px;
        display: block;
        margin: 15px auto 0;
        background-size: cover;
        flex-shrink: 0;
      }

      & .titulo {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 14px 0 0;
        text-align: center;
      }

      & .texto {
        display: flex;
        flex-direction: column;
        height: 100%;

        & .nome {
          font-size: 17px;
          text-align: center;
          color: @rast-status-nome-color;
          margin-top: 2px;
        }

        & .nr-amlurb {
          font-size: 15px;
          color: @rast-status-id-color;
          text-align: center;
          margin-top: 3px;
        }

        & .validacao,
        & .validado,
        & .pendente,
        & .aguardando {
          width: 100px;
          height: 20px;
          color: #FFF;
          text-transform: uppercase;
          background-color: @rast-status-validacao-background;
          border-radius: 2px;
          margin: auto auto 15px;
          text-align: center;
        }

        & .validado {
          background-color: @rast-status-validado-background;
        }

        & .pendente {
          background-color: @rast-status-pendente-background;
        }

        & .aguardando {
          background-color: @rast-status-aguardando-background;
        }
      }
    }

    & #box-rastreio-tr {

      & .imagem {
        background: url('../images/status_transporte.png') no-repeat center right;
        background-size: cover;
      }
    }

    & #box-rastreio-df {

      & .imagem {
        background: url('../images/status_destino.png') no-repeat center right;
        background-size: cover;
      }
    }

    & .tab-content {

      & .tab-pane {

        & .box-cadastro {
          padding-top: 20px;          
          & .diviser {
            border-bottom: 1px solid #5D5D5D;
          }

          & .form-group {

            & label {
              font-size: 17px;
              font-weight: normal;
              color: #000;
            }

            & .form-control[disabled] {
              background-color: #FFF;
              border: none;
            }

          }

        }

      }

      & .alert {
        font-size: 20px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: block;
      }

    }

    & .nav-tabs-cadastros-fiscal {
      border-bottom: 1px solid @titulo-cadastro-background;
      display: flex;

      & li {
        width: 100%;

        & a {
          text-transform: uppercase;
          font-size: 16px;
          color: #000;
          border: 0;
          border-bottom: 7px solid transparent;
          height: 100%;
          display: flex;
          align-items: flex-end;
          justify-content: center;

          &:hover {
            background-color: transparent;
          }
        }
      }

      & .active {

        & a {
          font-weight: bold;
          background-color: transparent;
          border-color: @titulo-cadastro-background;
        }
      }
    }

    & .termo-pesquisado {
      font-size: 16px;
      color: #000;
      margin: 15px 0;

      & span {
        color: @titulo-cadastro-background;
        font-size: 18px;
        font-weight: bold;
      }

    }

    & .cadastro-residuo {

      & .total-records {
        margin: 20px 0 10px;
      }

      & .table-residuos {

        & tbody {
          background-color: #FFF;

          & .drop-ativo {
            background-color: @titulo-fs-background;
            color: #FFF;
            cursor: pointer;
          }

          & tr {

            &:hover {
              background-color: @titulo-fs-background;
              color: #FFF;
              cursor: pointer;
            }

            & td {
              border: none;

              &.controls {
                display: flex;

                & a {
                  margin: 0 1px 0 0;
                  outline: none;
                  width: 22px;
                  height: 22px;
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  text-decoration: none;

                  &.deletar {
                    color: #e34340;
                  }

                  &:hover,
                  &:focus,
                  &:active {
                    outline: none;
                  }
                }
              }

              & div {
                padding: 4px;
              }
            }
          }
        }
      }

      & .dataTables_wrapper {

        & .table {
          width: 100% !important;
        }

        & .dataTables_filter {
          float: right;

          & label {

            & input {
              width: 100%;
              height: 36px;
              padding: 6px 12px;
              background-color: #fff;
              border: 1px solid #ccd0d2;
              border-radius: 4px;
              box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
              transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

              &:focus, :hover {
                outline: none;
                box-shadow: none;
              }
            }
          }
        }

        & .dataTables_paginate {
          margin-bottom: 32px;

          & .previous, .next, .first, .last {
            background: @pagination-active-background;
            color: #fff;
            padding: 0 19px;
            text-transform: uppercase;
            border-radius: 4px;
            cursor: pointer;
            text-decoration: none;
            margin: 0 2px;
            .retiraFocusDefault();
          }
        }

        & .dataTables_info {
          float: left;
          width: 50%;
          text-align: left;
        }
      }
    }
  }
}

#ajax-panel {
  margin-top: 27px;
  margin-left: -20px;

  & .loading {

    & img {
      height: 38px;
    }
  }
}

#modalCtreTransportador, #modalCtreDestino, #modalVeiculoAdicionar, #modalEquipamentoAdicionar, #modalCtreGerador {

  & .modal-dialog {

    & .modal-body {

      & input {
        border: 1px solid #ccc;
      }

      & h2 {
        margin: 23px 0 10px;
        font-size: 26px;
        text-transform: uppercase;
        color: @titulo-cadastro-background;
      }

      & .chosen-container {

        & .chosen-single {
          height: 35px;
          border: 1px solid #ccc;
          padding: 6px 0 0 8px;
          background: #FFF !important;

          & div {
            padding-top: 8px;
          }

          & span {
            font-size: 16px;
            color: #999;
          }
        }

        & .chosen-drop {
          border: 1px solid @titulo-cadastro-background;
          border-top: none;
        }

        & .chosen-results {
          & .highlighted {
            background-color: @titulo-cadastro-background;
            background-image: linear-gradient(@titulo-cadastro-background 20%, @titulo-cadastro-background 90%);
          }
        }

      }

    }

    & .modal-footer {

      & .btn-primary {
        background-color: @titulo-cadastro-background;
        border-color: @titulo-cadastro-background;

        .retiraFocusDefault();

      }

    }

  }

}

#painel-transportador,
#painel-gerador,
#painel-fiscal,
#painel-destino-final {

  & .modal-content {
    background-color: #F2F2F2;

    & .modal-header {

      & .modal-title {
        color: #C93E3E;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
      }
    }

    & .modal-body {
      padding: 30px;

      & .modal-body__instrucoes {
        text-align: center;
        margin-bottom: 20px;
        font-size: 15px;
      }

      & .texto-informativo {
        margin: 0;
      }

      & label {
        font-weight: normal;
        font-size: 15.5px;
      }
    }
  }
}

#painel-gerador {

  & .modal-content {

    & .modal-header {

      & .modal-title {
        color: #009053;
      }
    }
  }
}

#painel-destino-final {

  & .modal-content {

    & .modal-header {

      & .modal-title {
        color: #056793;
      }
    }
  }
}

#modalVeiculoLicenca .modal-dialog {

  & button {
    // width: 250px;
  }
}

#mapa {
  width: 100%;
  height: 395px;
  border: 1px solid #ccc;
}

.modal {

  & .modal-header {

    & .close {
      outline: none;
    }
  }
}

.modalConfirmDelete {

  & .modal-body {

    & p {
      text-align: center;
      font-size: 18px;
      text-shadow: 1px 1px 5px rgba(49, 49, 49, 0.21);
      color: #676767;

      &:last-of-type {
        font-size: 17px;
      }
    }
  }
}

#modalCadastroAprovadoSucesso {

  & .modal-header {

    & .modal-title {
      margin-top: 0;
    }
  }

  & .alert {
    margin: 10px 0 !important;
    font-size: 18px !important;
    font-weight: 300;
  }
}

.form-item-linha {

  & .form-item-linha__item,
  & .select2-container {
    float: left;
    width: 75% !important;
    border-radius: 4px 0 0 4px !important;
  }

  & .form-item-linha__bt {
    width: 25%;
    border-radius: 0 4px 4px 0;
    background-color: #FFA52A;
    color: #fff;
    text-transform: uppercase;
    border-color: #FFA52A;
    padding: 7px 12px;
    height: 36px;
  }
}

.caixa-incluidos > div {
  background-color: #fff;
  float: left;
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
  overflow-y: auto;
  border: 1px solid #ccd0d2;
  border-radius: 4px;

  & .excluir-ico {
    color: #832A1C;
    font-weight: bold;
  }
}

/* width */
.caixa-incluidos > div::-webkit-scrollbar,
.containerAtivarRenovarVeiculos::-webkit-scrollbar,
.containerInfoBoletos::-webkit-scrollbar {
  width: 7px;
}

/* Track */
.caixa-incluidos > div::-webkit-scrollbar-track,
.containerAtivarRenovarVeiculos::-webkit-scrollbar-track,
.containerInfoBoletos::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 5px;
}

/* Handle */
.caixa-incluidos > div::-webkit-scrollbar-thumb,
.containerAtivarRenovarVeiculos::-webkit-scrollbar-thumb,
.containerInfoBoletos::-webkit-scrollbar-thumb {
  background: #B3B3B3;
  border-radius: 5px;
}

/* Handle on hover */
.caixa-incluidos > div::-webkit-scrollbar-thumb:hover,
.containerAtivarRenovarVeiculos::-webkit-scrollbar-thumb:hover,
.containerInfoBoletos::-webkit-scrollbar-thumb:hover {
  background: #bbbbbb;
}

.modal-bts-center {
  display: table;
  margin: auto;
  width: auto;

  & button {
    display: inline-block !important;
    width: 110px;
    text-transform: uppercase;
    margin: 10px;
  }

  & .modal-bts-center__externo {
    width: 280px;
    margin: 0 20px 0 0!important;
    border-color: transparent;    
  }
}

.modal-bts-center__tres {

  & button {
    width: 210px;
  }

}

.texto-informativo {
  font-size: 16.5px;
  margin-top: 20px;
}

.item-vencido > td {
  color: red !important;
}

#table-ativar-veiculos,
#table-info-boleto {
  background-color: #ffffff;
  border-radius: 5px;

  & thead > tr > th {
    border-bottom: 2px solid #fff;
  }

}

.containerAtivarRenovarVeiculos,
.containerInfoBoletos {
  height: auto;
  max-height: 350px;
  overflow-y: auto;
  background-color: #ffffff;
  border-radius: 5px;

  & .table {
    margin: 0;

    & tbody > tr > td {
      border-top: none;
    }
  }
}

.link-acoes {
  float: left;
  position: relative;
  background-color: #FFA629;
  color: #ffffff;
  text-transform: uppercase;
  width: 100px;
  text-align: center;
  border-radius: 15px !important;
  font-size: 13px !important;
  padding: 1.5px !important;
  height: auto !important;
  .transitionHover(@titulo-cadastro-background, 12);

  &:hover,
  &:focus {
    text-decoration: none;
    color: #ffffff;
  }
}

.btn-validar {
  background-color: #FFA629;

  .transitionHover(@titulo-cadastro-background, 12);
}

.status-bar {
  & a {
  width: 20%;
  float: left;
  position: relative;
  border: solid 1px #FFA629;
  margin-bottom: 60px;
  height: 25px;
    &.status-bar__full {
      background-color: #FFA629;
    }
    & span {
      color: #000000;
      position: absolute;
      bottom: -25px;
      right: -15px;
    }
  }
}

.check-radio-custom {
  & label {
    font-size: 16px !important;
  }
  & i {
    position: absolute;
    right: 10px;
    z-index: 99;
    top: 10px;
    color: #FFA629;
    font-size: 18px;
  }
  & [type="radio"]:checked,
    [type="radio"]:not(:checked) {
      position: absolute;
      left: -9999px;
  }
  & [type="radio"]:checked + label,
    [type="radio"]:not(:checked) + label {
      position: relative;
      padding-left: 28px;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: #666;
  }
  & [type="radio"]:checked + label:before,
    [type="radio"]:not(:checked) + label:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 18px;
      height: 18px;
      border: 1px solid #FFA629;
      border-radius: 100%;
      background: #fff;
  }
  & [type="radio"]:checked + label:after,
    [type="radio"]:not(:checked) + label:after {
      content: '';
      width: 12px;
      height: 12px;
      background: #FFA629;
      position: absolute;
      top: 3px;
      left: 3px;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
  }
  & [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      transform: scale(0);
  }
  & [type="radio"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
  }
}
 .nav-indicadores-periodo li a{
    background-color: transparent!important;
 }

.ver-doc {
  background-color: #008f52 !important;
  color: #fff !important;
  width: 45px;
  font-size: 18px !important;
}
.box-cadastro{
  & .row {
    & .diviser{
      border-bottom:1px solid #5D5D5D;
    }
  }
}
