footer {
  width: 100%;
  float: left;

  & .logo-amlurb {
    background: url('../images/logo_amlurb_rgb.svg') no-repeat center center;
    background-size: contain;
    width: 90%;
    height: 69px;
    display: block;
    position: absolute;
    top: -69px;
    transform: translateX(-50%);
    left: 50%;
  }

  & .copyright {
    color: #FFF;
    font-size: 17px;
    float: right;
    font-weight: 300;
    padding: 5px;

    & a {
      color: #a9c449;
      outline: none;
      text-decoration: none;
    }
  }
}
